.close-up-hand-holding-phone-icon {
  position: absolute;
  top: 1.875rem; /* 30px */
  left: 12.5rem; /* 200px */
  border-radius: 1.64rem; /* 26.34px */
  width: 83.125rem; /* 1330px */
  height: 35.625rem; /* 570px */
  object-fit: cover;
  overflow: hidden;
}

.image-330-icon {
  position: absolute;
  top: -1.25rem; /* -20px */
  left: 17.1875rem; /* 275px */
  border-radius: 1.5625rem; /* 25.03px */
  width: 25rem; /* 400px */
  height: 43.125rem; /* 690px */
  object-fit: contain;
  mix-blend-mode: multiply;
  transform: rotate(-0.9deg);
}

.group-child {
  position: absolute;
  top: 33.6875rem; /* 538.49px */
  left: 27.605rem; /* 441.68px */
  width: 3.4rem; /* 54.4px */
  height: 3.625rem; /* 58.2px */
}

.close-up-hand-holding-phone-parent {
  position: absolute;
  top: -1.1875rem; /* -19px */
  left: -11.46875rem; /* -183.53px */
  width: 108.93rem; /* 1743.1px */
  height: 39.125rem; /* 626px */
}

.apppromo-frame-container {
  position: absolute;
  top: 0;
  left: 6.25rem; /* 100px */
  width: 63.4375rem; /* 1015px */
  height: 36.125rem; /* 578px */
}

.powered-by {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  font-family: Matter;
  font-size: 1.5rem; /* 24px */
  line-height: 1.8rem; /* 28.8px */
  text-align: center;
  color: #ffffff;
}

.image-removebg-preview-1-1 {
  width: 4.25rem; /* 68px */
  position: relative;
  height: 2.1875rem; /* 35px */
  object-fit: cover;
}

.powered-by-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem; /* 8px */
}

.control-your-home {
  align-self: stretch;
  position: relative;
  font-size: 2.5rem; /* 40px */
  line-height: 115%;
  font-weight: 600;
  color: #f7f7f7;
  text-align: left;
  font-family: Matter-Semibold;
}

.apppromo-frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.875rem; /* 30px */
}

.install-our-app {
  position: relative;
  line-height: 115%;
}

.image-331-icon {
  width: 13.25rem; /* 212.2px */
  position: relative;
  height: 4.375rem; /* 70px */
  object-fit: cover;
}

.image-331-wrapper {
  width: 13.875rem; /* 223px */
  border-radius: 0.575rem; /* 9.23px */
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.3875rem; /* 6.2px */
  box-sizing: border-box;
}

.image-332-icon {
  width: 13.125rem; /* 210.7px */
  position: relative;
  height: 4.375rem; /* 70px */
  object-fit: cover;
}

.apppromo-frame-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem; /* 32px */
}

.install-our-app-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.0625rem; /* 33px */
  text-align: left;
  font-size: 1.75rem; /* 28px */
  color: #f7f7f7;
}

.apppromo-frame-parent3 {
  position: absolute;
  top: calc(50% - 11.6875rem); /* 187.5px */
  left: 40.625rem; /* 734px */
  width: 29.875rem; /* 478px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.375rem; /* 70px */
}

.apppromo-parent {
  position: relative;
  overflow: hidden;
  width: 87.75rem; /* 1392px */
  height: 36.3125rem; /* 581px */
  gap: 0;
  border-radius: 1.25rem; /* 20px */
}

@media (max-width: 850px) {
  .apppromo-parent {
    width: 47.125rem; /* 754px */
    height: 21.5rem; /* 344px */
    gap: 0;
  }
  .close-up-hand-holding-phone-parent {
    width: 47.125rem; /* 754px */
    height: 21.5rem; /* 344px */
    border-radius: 1.25rem; /* 20px */
  }
  .close-up-hand-holding-phone-icon {
    width: 46.125rem; /* 738px */
    height: 20.625rem; /* 330px */
    border-radius: 1.25rem; /* 20px */
  }
  .apppromo-frame-parent3 {
    width: 18.4375rem; /* 295px */
    height: 13.4375rem; /* 215.69px */
    top: 4rem; /* 64px */
    left: 20rem; /* 320px */
    gap: 2.37rem; /* 37.92px */
  }
  .apppromo-frame-parent4 {
    width: 18.4375rem; /* 295px */
    height: 5.9375rem; /* 95.21px */
    gap: 1rem; /* 16.25px */
  }
  .powered-by-parent {
    width: 6.876rem; /* 110.17px */
    height: 1.186rem; /* 18.96px */
    gap: 0.27rem; /* 4.33px */
  }
  .powered-by {
    font-size: 0.8125rem; /* 13px */
    font-weight: 500;
    line-height: 0.975rem; /* 15.6px */
    letter-spacing: -0.01em;
    text-align: center;
  }
  .image-removebg-preview-1-1 {
    width: 2.3rem; /* 36.83px */
    height: 1.186rem; /* 18.96px */
    gap: 0;
  }
  .control-your-home {
    font-size: 1.625rem; /* 26px */
    font-weight: 600;
    line-height: 1.87rem; /* 29.9px */
    text-align: left;
  }
  .install-our-app-parent {
    width: 18.4375rem; /* 295px */
    height: 5.15625rem; /* 82.57px */
    gap: 1.25rem; /* 20px */
  }
  .install-our-app {
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.15rem; /* 18.4px */
    text-align: left;
  }
  .apppromo-frame-parent5 {
    width: 18.4375rem; /* 295px */
    height: 2.75rem; /* 44.57px */
    gap: 1.0625rem; /* 17.33px */
  }
  .image-331-icon,
  .image-332-icon,
  .image-331-wrapper {
    width: 7.55rem; /* 120.79px */
    height: 2.75rem; /* 44.57px */
  }

  .image-331-wrapper {
    padding: 0.208rem; /* 3.33px */
    gap: 0;
    border-radius: 0.3125rem; /* 5px */

    overflow: hidden;
  }
  .image-330-icon {
    width: 13.92rem; /* 222.74px */
    top: 3.3125rem; /* 53px */
    position: absolute;
    left: 15.0625rem; /* 241px */
    height: 18.14rem; /* 290.77px */
    gap: 0;
    border-radius: 0.88rem; /* 14.18px */
    transform: rotate(-0.1deg);
  }
}

@media (max-width: 450px) {
  .apppromo-parent {
    width: 22.375rem; /* 358px */
    height: 13.4375rem; /* 215px */
    border-radius: 0.625rem; /* 10px */
  }
  .close-up-hand-holding-phone-parent {
    width: 22.375rem; /* 358px */
    height: 13.4375rem; /* 215px */
    border-radius: 0.625rem; /* 10px */
  }
  .close-up-hand-holding-phone-icon {
    width: 21.3125rem; /* 341px */
    height: 12.75rem; /* 204px */
    border-radius: 0.625rem; /* 10px */
  }
  .image-330-icon {
    width: 9.1875rem; /* 147.63px */
    height: 10.99rem; /* 175.95px */
    top: 2.8125rem; /* 45.19px */
    left: 12.9375rem; /* 207px */
    border-radius: 0.5375rem; /* 8.6px */
  }
  .apppromo-frame-container {
    width: 16.3125rem; /* 261px */
    height: 13.4375rem; /* 215px */
    left: -8.125rem; /* -130px */
  }
  .apppromo-frame-parent3 {
    width: 9.3125rem; /* 149px */
    height: 8.414rem; /* 135.23px */
    gap: 0.9375rem; /* 15px */
  }
  .apppromo-frame-parent4 {
    width: 9.3125rem; /* 149px */
    height: 3.75rem; /* 60.07px */
    gap: 0.9375rem; /* 15px */
  }
  .powered-by-parent {
    width: 5.71875rem; /* 91.73px */
    height: 0.9375rem; /* 15.07px */
    gap: 0.215rem; /* 3.45px */
  }
  .powered-by {
    font-size: 0.6875rem; /* 11px */
    font-weight: 500;
    line-height: 0.825rem; /* 13.2px */
    letter-spacing: -0.01em;
    text-align: center;
  }
  .image-removebg-preview-1-1 {
    width: 1.8125rem; /* 29.29px */
    height: 0.9375rem; /* 15.07px */
  }
  .control-your-home {
    font-size: 0.8125rem; /* 13px */
    font-weight: 600;
    line-height: 0.935rem; /* 14.95px */
    text-align: left;
  }
  .install-our-app-parent {
    width: 9.3125rem; /* 149px */
    height: 2.8125rem; /* 45.16px */
    gap: 0.625rem; /* 10px */
  }
  .install-our-app {
    font-size: 0.75rem; /* 12px */
    font-weight: 400;
    line-height: 0.8625rem; /* 13.8px */
    text-align: left;
  }
  .apppromo-frame-parent5 {
    width: 9.3125rem; /* 149 px */
    height: 1.3125rem; /* 21.16px */
    gap: 0.5125rem; /* 8.23px */
  }
  .image-331-wrapper {
    width: 3.5625rem; /* 57.35px */
    height: 1.3125rem; /* 21.16px */
    padding: 0.1rem; /* 1.58px */
    border-radius: 0.14875rem; /* 2.37px */
  }
  .image-331-icon {
    width: 3.4125rem; /* 54.58px */
    height: 1.125rem; /* 18px */
  }
  .image-332-icon {
    width: 3.375rem; /* 54.19px */
    height: 1.125rem; /* 18px */
  }
}
