.badge-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
}

.badge-container .badge-line {
  width: 18.5rem;
  max-height: 100%;
}

.badge-container .BS-image-336-icon {
  width: 10.0625rem;
  height: 9.0625rem;
  object-fit: cover;
}

.badge-container .BS-image-removebg-preview-2-1 {
  width: 7.875rem;
  height: 9.0625rem;
  object-fit: cover;
}

@media (max-width: 850px) {
  .badge-container {
    width: 47.125rem;
    height: 5.78rem;
    gap: 4rem;
  }

  .badge-container .badge-line {
    width: 11.875rem;
    border: 0.04rem;
  }

  .badge-container .BS-image-336-icon {
    width: 6.4375rem;
    height: 5.78rem;
    object-fit: cover;
  }

  .badge-container .BS-image-removebg-preview-2-1 {
    width: 5.029rem;
    height: 5.78rem;
    object-fit: cover;
  }
}

@media (max-width: 450px) {
  .badge-container {
    width: 21.09375rem;
    height: 5.0625rem;
    gap: 1.89rem;
  }

  .badge-container .badge-line {
    width: 2.6875rem;
    height: 0.1rem;
    gap: 0;
    border: 0.08rem;
  }

  .badge-container .BS-image-336-icon {
    width: 5.625rem;
    height: 5.0625rem;
    object-fit: cover;
  }

  .badge-container .BS-image-removebg-preview-2-1 {
    width: 4.375rem;
    height: 5.0625rem;
    object-fit: cover;
  }
}
