.badge-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6.25rem; /* 100px */
}

.badge-container .badge-line {
  width: 18.5rem; /* 296px */
  max-height: 100%;
}

.badge-container .BS-image-336-icon {
  width: 10.0625rem; /* 161px */
  height: 9.0625rem; /* 145px */
  object-fit: cover;
}

.badge-container .BS-image-removebg-preview-2-1 {
  width: 7.875rem; /* 126px */
  height: 9.0625rem; /* 145px */
  object-fit: cover;
}

@media (max-width: 850px) {
  .badge-container {
    width: 47.125rem; /* 754px */
    height: 5.78rem; /* 92.73px */
    gap: 4rem; /* 63.95px */
    /* Keep opacity as is */
  }

  .badge-container .badge-line {
    width: 11.875rem; /* 189.3px */
    border: 0.04rem; /* 0.64px */
  }

  .badge-container .BS-image-336-icon {
    width: 6.4375rem; /* 102.96px */
    height: 5.78rem; /* 92.73px */
    object-fit: cover;
  }

  .badge-container .BS-image-removebg-preview-2-1 {
    width: 5.029rem; /* 80.58px */
    height: 5.78rem; /* 92.73px */
    object-fit: cover;
  }
}

@media (max-width: 450px) {
  .badge-container {
    width: 21.09375rem; /* 337.09px */
    height: 5.0625rem; /* 81px */
    gap: 1.89rem; /* 30.36px */
  }

  .badge-container .badge-line {
    width: 2.6875rem; /* 43px */
    height: 0.1rem; /* 1.64px */
    gap: 0;
    border: 0.08rem; /* 1.3px */
  }

  .badge-container .BS-image-336-icon {
    width: 5.625rem; /* 90px */
    height: 5.0625rem; /* 81px */
    object-fit: cover;
  }

  .badge-container .BS-image-removebg-preview-2-1 {
    width: 4.375rem; /* 70px */
    height: 5.0625rem; /* 81px */
    object-fit: cover;
  }
}
