.VC-image-parent {
  width: 100%;
  max-width: 79.1875rem;
  height: 25.3125rem;
  gap: 5.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: Metal;
}

.VC-image-icon1 {
  object-fit: cover;
  width: 44.25rem;
  height: 25.3125rem;
  gap: 0;
  border-radius: 1.25rem;
}

.VC-title-parent {
  width: 29.6875rem;
  height: 17.71875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.VC-title {
  width: 29.6875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.VC-effortless {
  width: 23.1875rem;
  height: 5.75rem;
  flex-shrink: 0;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 6.3775rem;
  text-align: left;
  color: #888888;
}

.voice-control-integration {
  letter-spacing: -0.01em;
  color: #222;
  margin-top: -0.375rem;
  font-size: 2.625rem;
  font-weight: 500;
  line-height: 3.15rem;
  text-align: left;
  font-family: Matter-Medium;
}

.VC-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5625rem;
}

.VC-image-328-wrapper {
  border-radius: 0.546875rem;
  box-sizing: border-box;
  height: 4.3125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.VC-image-328-icon {
  object-fit: cover;
  width: 13.625rem;
  height: 4.3125rem;
  padding: 0.365rem;
  gap: 0.4575rem;
  border-radius: 0.546875rem;
  border: 0.045625rem solid #000000;
}

.VC-image-329-icon {
  object-fit: cover;
  width: 10.590625rem;
  height: 4.3125rem;
  padding: 0.365rem;
  gap: 0.4575rem;
  border-radius: 0.546875rem;
  border: 0.045625rem solid #000000;
}

@media (max-width: 850px) {
  .VC-image-parent {
    width: 100%;
    max-width: 47.125rem;
    height: 15rem;
    gap: 10px;
    justify-content: space-between;
  }
  .VC-image-icon1 {
    width: 26.1875rem;
    height: 15rem;
    gap: 0;
    border-radius: 0.738rem;
  }
  .VC-title-parent {
    width: 18.375rem;
    height: 10.953rem;
    gap: 2.5rem;
  }
  .VC-title {
    width: 18.375rem;
    height: auto;
    gap: 0.125rem;
  }
  .VC-effortless {
    font-family: Metal;
    font-size: 2rem;
    font-weight: 400;
    line-height: 4.1rem;
    text-align: left;
    width: 100%;
    height: auto;
  }
  .voice-control-integration {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1.95rem;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .VC-image-container {
    width: 100%;
    height: auto;
    gap: 2.6625rem;
  }
  .VC-image-328-wrapper {
    width: 37.5%;
    height: auto;
    padding: 0.25rem;
    gap: 0.3125rem;
    border-radius: 0.375rem;
    border: 0.03125rem;
  }
  .VC-image-328-icon {
    width: 130%;
    height: auto;
  }
  .VC-image-329-icon {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 450px) {
  .VC-image-parent {
    width: 22.125rem;
    height: auto;
  }
  .VC-image-icon1 {
    width: 50%;
    height: auto;
    border-radius: 0.625rem;
  }
  .VC-title-parent {
    width: 100%;
    height: auto;
    gap: 0.625rem;
  }
  .VC-title {
    width: 100%;
    height: auto;
    gap: 0.625rem;
  }
  .VC-effortless {
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: 2.6875rem;
    text-align: left;
    width: 100%;
    height: auto;
  }
  .voice-control-integration {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.05rem;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .VC-image-container {
    width: 100%;
    height: auto;
    gap: 1.5rem;
  }
  .VC-image-328-wrapper {
    padding: 0.1875rem;
    gap: 0.225rem;
    border-radius: 0.25rem;
    border: 0.0225rem;
  }
  .VC-image-328-icon {
    width: 120%;
    height: 20.586px;
  }
  .VC-image-329-icon {
    width: 100%;
    height: auto;
  }
}
