.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3x3 grid layout */
  gap: 34px 180px;
  justify-content: center;
  align-content: center;
  padding: 20px;
  width: 1392px;
  box-sizing: border-box;
  height: 734px;
}
.feature-card {
  width: 280px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 20px;
  gap: 32px;
  box-sizing: border-box;
}

.feature-icon {
  width: 69px;
  height: 68px;
  object-fit: cover;
}

.schedule-control-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.schedule-control {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #2e2e2e;
  font-family: Matter-Medium;
}

.easily-automate-devices {
  font-size: 16px;
  line-height: 121%;
  color: #828282;
  text-align: center;
}

@media (max-width: 850px) {
  .features-grid {
    width: 630.89px;
    height: 613.77px;
    gap: 40px;
  }
  .feature-card {
    width: 180.02px;
    height: 181.92px;
    padding: 19.64px 16.37px 19.64px 16.37px;
    gap: 26.18px;
    border-radius: 8.18px;
    opacity: 0px;
  }
  .feature-icon {
    width: 56.46px;
    height: 55.64px;
    gap: 0px;
    opacity: 0px;
  }
  .schedule-control {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  .easily-automate-devices {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .features-grid {
    width: 358px;
    height: 400px;
    gap: 15px;
  }
  .feature-card {
    width: 112px;
    height: 124px;
    padding: 11.14px 9.29px 11.14px 9.29px;
    gap: 14.86px;
    border-radius: 10px;
  }
  .feature-icon {
    width: 32.04px;
    height: 31.57px;
  }
  .schedule-control-parent {
    width: 93.43px;
    height: 55.57px;
    gap: 5.57px;
  }
  .schedule-control {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: -0.01em;
    text-align: center;
    width: 103px;
    height: 14px;
  }
  .easily-automate-devices {
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    text-align: center;
  }
}
