.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3x3 grid layout */
  gap: 2.125rem 11.25rem; /* 34px 180px */
  justify-content: center;
  align-content: center;
  padding: 1.25rem; /* 20px */
  width: 100%;
  max-width: 87.5rem; /* 1392px */
  box-sizing: border-box;
  height: 45.875rem; /* 734px */
}

.feature-card {
  width: 17.5rem; /* 280px */
  box-shadow: 0.0625rem 0.0625rem 0.375rem rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem; /* 10px */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem 1.25rem; /* 24px 20px */
  gap: 2rem; /* 32px */
  box-sizing: border-box;
}

.feature-icon {
  width: 4.3125rem; /* 69px */
  height: 4.25rem; /* 68px */
  object-fit: cover;
}

.schedule-control-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem; /* 12px */
}

.schedule-control {
  font-size: 1rem; /* 16px */
  font-weight: bold;
  text-align: center;
  color: #2e2e2e;
  font-family: Matter-Medium;
}

.easily-automate-devices {
  font-size: 1rem; /* 16px */
  line-height: 121%;
  color: #828282;
  text-align: center;
}

@media (max-width: 850px) {
  .features-grid {
    width: 100%;
    max-width: 39.375rem; /* 630.89px */
    height: 38.75rem; /* 613.77px */
    gap: 2.5rem; /* 40px */
  }
  .feature-card {
    width: 11.25rem; /* 180.02px */
    height: auto; /* Fit content */
    padding: 1.25rem; /* 19.64px 16.37px */
    gap: 1.625rem; /* 26.18px */
    border-radius: 0.5rem; /* 8.18px */
    /* Keep opacity as is */
  }
  .feature-icon {
    width: 3.5rem; /* 56.46px */
    height: 3.5rem; /* 55.64px */
    /* Keep opacity as is */
  }
  .schedule-control {
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    line-height: 1.2rem; /* 19.36px */
    text-align: left;
  }
  .easily-automate-devices {
    font-size: 0.8125rem; /* 13px */
    font-weight: 400;
    line-height: 1rem; /* 15.73px */
    text-align: center;
  }
}

@media (max-width: 450px) {
  .features-grid {
    width: 100%;
    max-width: 22.375rem; /* 358px */
    height: auto; /* Fit content */
    gap: 1rem; /* 15px */
  }
  .feature-card {
    width: 7rem; /* 112px */
    height: auto; /* Fit content */
    padding: 0.6875rem; /* 11.14px 9.29px */
    gap: 0.875rem; /* 14.86px */
    border-radius: 0.625rem; /* 10px */
  }
  .feature-icon {
    width: 2rem; /* 32.04px */
    height: 2rem; /* 31.57px */
  }
  .schedule-control-parent {
    width: 5.8125rem; /* 93.43px */
    height: auto; /* Fit content */
    gap: 0 375rem; /* 5.57px */
  }
  .schedule-control {
    font-size: 0.75rem; /* 12px */
    font-weight: 500;
    line-height: 0.9rem; /* 14.4px */
    text-align: center;
    width: auto; /* Fit content */
  }
  .easily-automate-devices {
    font-size: 0.625rem; /* 10px */
    font-weight: 400;
    line-height: 0.75rem; /* 12.1px */
    text-align: center;
  }
}
