.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.5rem;
}

.fade-in {
  transform: translateY(1.25rem);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-left {
  transform: translateX(-6.25rem);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in-left.show {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-right {
  transform: translateX(6.25rem);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in-right.show {
  opacity: 1;
  transform: translateX(0);
}

.LandingImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  transition: transform 1s ease, opacity 1s ease;
  background-color: #ffffff;
}

.LandingImage-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15%;
  width: 100%;
}

.LandingImage-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.LandingImage-left img {
  width: 100%;
  height: auto;
}

.show-top-text .LandingImage {
  transform: translateY(50%);
}

.show-left-text .LandingImage {
  transform: translateX(-50%);
}

.return-to-center .LandingImage {
  transform: translateX(0);
}

.remove-image .LandingImage {
}

.main-content-landing-page {
  opacity: 0;
  transition: opacity 1s;
  transform: translateY(1.25rem);
  transition: opacity 1s ease, transform 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.5rem;
}

.main-content-landing-page section {
  width: 90%;
  display: flex;
  justify-content: center;
}

.show-content .main-content-landing-page {
  opacity: 1;
  transform: translateY(0);
}

.show-top-text .top-text,
.show-left-text .right-text {
  opacity: 1;
  transform: translateY(0) translateX(0);
}

.top-text,
.right-text {
  position: absolute;

  transition: transform 0.5s ease;
}

.top-text {
  top: 15%;
  left: 41%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.top-text-1 {
  font-weight: 600;
  font-family: Matter-Medium;
  color: #383838;
  margin: 0;
}

.top-text-2 {
  margin: 0;
  font-family: Metal;
}

.arrow-down {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  animation: bounce 1s infinite;
}

.right-text {
  top: 40%;
  right: 5%;
  transform: translate(50%, -50%);
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.right-text-1 {
  font-weight: 500;
  font-family: Matter;
  color: #383838;
  margin: 0;
}

.right-text-1-span {
  font-family: Metal;
  color: #888;
}

.right-text-2 {
  text-align: justify;
  font-family: Matter;
  font-weight: 400;
  font-size: 20px;
}

.top-text,
.right-text {
  animation: fadeInLandingImage 2s ease forwards;
}

.LandingImage.hidden {
  transform: translateY(-100%);
  pointer-events: none;
  display: none;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.3125rem);
  }
}

@keyframes fadeInLandingImage {
  from {
    transform: translateY(1.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 850px) {
  .LandingImage {
    position: fixed;
    top: 0;
    left: -2.5rem;
    width: 100%;
    height: 100vh;
    z-index: 3;
    transition: transform 1s ease, opacity 1s ease;
  }

  .image {
    width: 56.25rem;
  }

  .LandingImage-top {
    top: -9%;
  }

  .top-text {
    top: 20%;
    left: 38%;
  }

  .top-text-1 {
    font-weight: 500;
    font-family: Matter;
    color: #383838;
    margin: 0;
    font-size: 1.875rem;
  }

  .top-text-2 {
    margin: 0;
    font-family: Metal;
    font-size: 1.875rem;
  }

  .arrow-down {
    margin-top: 0.625rem;
    width: 3.125rem;
    height: 3.125rem;
    animation: bounce 1s infinite;
  }

  .right-text {
    top: 30%;
    right: 9%;
    transform: translate(50%, -50%);
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 15.625rem;
  }

  .right-text-1 {
    font-weight: 500;
    font-family: Matter;
    color: #383838;
    margin: 0;
    font-size: 1.5625rem;
  }

  .right-text-1-span {
    font-family: Metal;
    color: #888;
    font-size: 1.5625rem;
  }

  .right-text-2 {
    text-align: justify;
    font-family: Matter;
    font-weight: 400;
    font-size: 0.8125rem;
  }
}

@media (max-width: 450px) {
  .main-content-landing-page {
    gap: 4.375rem;
  }
  .LandingImage {
    position: fixed;
    top: 0;
    left: -2.25rem;
    width: 27.5rem;
    height: 30rem;
    z-index: 3;
    transition: transform 1s ease, opacity 1s ease;
  }

  .LandingImage-left img {
    height: 30rem;
  }

  .LandingImage-top {
    top: -13%;
  }

  .top-text {
    top: 12%;
    left: 13%;
    width: 17.5625rem;
    height: 6.25rem;
  }

  .top-text-1 {
    font-weight: 500;
    font-family: Matter;
    color: #383838;
    margin: 0;
    font-size: 1.875rem;
  }

  .top-text-2 {
    margin: 0;
    font-family: Metal;
    font-size: 1.875rem;
  }

  .arrow-down {
    margin-top: 0.625rem;
    width: 3.125rem;
    height: 3.125rem;
    animation: bounce 1s infinite;
  }

  .right-text {
    top: 50%;
    right: 10%;
    transform: translate(50%, -50%);
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 19.9375rem;
    height: 8.875rem;
    gap: 0.875rem;
  }

  .right-text-1 {
    font-family: Matter;
    font-size: 1.96875rem;
    font-weight: 500;
    line-height: 2.365rem;
    letter-spacing: -0.005em;
    text-align: left;
  }

  .right-text-1-span {
    font-family: Metal;
    color: #888;
    font-size: 2.37rem;
    font-weight: 400;
    line-height: 4.875rem;
    text-align: left;
  }

  .right-text-2 {
    font-family: Matter;
    font-size: 0.81875rem;
    font-weight: 400;
    line-height: 1.066rem;
    text-align: left;
  }

  .show-left-text .LandingImage {
    transform: translateY(-50%);
  }
}
