.PP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 161px;
}

.PP .PP-heading {
  width: 381px;
  height: 72px;
  opacity: 0px;
  font-family: Matter;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
  color: #000000;
}

.PP .PP-contents {
  width: 1388px;
  height: 1085px;
  gap: 10px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #4c4c4c;
}

.PP .PP-contents .PP-points {
  width: 1388px;
  height: 897px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0px;
}

.PP .PP-contents .PP-points .PP-points-heading {
  font-family: Matter;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: left;
  color: black;
  margin-bottom: 5px;
}

.PP .PP-contents .PP-points .PP-points-description {
  font-family: Matter;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: left;
  color: #707070;
  margin-bottom: 40px;
}
.PP .PP-contents .PP-points-description {
  font-family: Matter;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: left;
  color: #707070;
  margin-bottom: 40px;
}

p {
  margin: 0;
}
