.close-up-hand-holding-phone-icon {
  position: absolute;
  top: 30px;
  left: 200px;
  border-radius: 26.34px;
  width: 1330px;
  height: 570px;
  object-fit: cover;
  overflow: hidden;
}
.image-330-icon {
  position: absolute;
  top: -20px;
  left: 275px;
  border-radius: 25.03px;
  width: 400px;
  height: 690px;
  object-fit: contain;
  mix-blend-mode: multiply;
  transform: rotate(-0.9deg);
}
.group-child {
  position: absolute;
  top: 538.49px;
  left: 441.68px;
  width: 54.4px;
  height: 58.2px;
}
.close-up-hand-holding-phone-parent {
  position: absolute;
  top: -19px;
  left: -183.53px;
  width: 1743.1px;
  height: 626px;
}
.apppromo-frame-container {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 1015px;
  height: 578px;
}
.powered-by {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  font-family: Matter;
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
  color: #ffffff;
}
.image-removebg-preview-1-1 {
  width: 68px;
  position: relative;
  height: 35px;
  object-fit: cover;
}
.powered-by-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.control-your-home {
  align-self: stretch;
  position: relative;
  font-size: 40px;
  line-height: 115%;
  font-weight: 600;
  color: #f7f7f7;
  text-align: left;
  font-family: Matter-Semibold;
}
.apppromo-frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.install-our-app {
  position: relative;
  line-height: 115%;
}
.image-331-icon {
  width: 212.2px;
  position: relative;
  height: 70px;
  object-fit: cover;
}
.image-331-wrapper {
  width: 223px;
  border-radius: 9.23px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 6.2px;
  box-sizing: border-box;
}
.image-332-icon {
  width: 210.7px;
  position: relative;
  height: 70px;
  object-fit: cover;
}
.apppromo-frame-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.install-our-app-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 33px;
  text-align: left;
  font-size: 28px;
  color: #f7f7f7;
}
.apppromo-frame-parent3 {
  position: absolute;
  top: calc(50% - 187.5px);
  left: 734px;
  width: 478px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
}
.apppromo-parent {
  position: relative;
  overflow: hidden;
  width: 1392px;
  height: 581px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
}

@media (max-width: 850px) {
  .apppromo-parent {
    width: 754px;
    height: 344px;
    gap: 0px;
    opacity: 0px;
  }
  .close-up-hand-holding-phone-parent {
    width: 754px;
    height: 344px;
    border-radius: 20px;
  }
  .close-up-hand-holding-phone-icon {
    width: 738px;
    height: 330px;
    border-radius: 20px;
  }
  .apppromo-frame-parent3 {
    width: 295px;
    height: 215.69px;
    top: 64px;
    left: 320px;
    gap: 37.92px;
    opacity: 0px;
  }
  .apppromo-frame-parent4 {
    width: 295px;
    height: 95.21px;
    gap: 16.25px;
    opacity: 0px;
  }
  .powered-by-parent {
    width: 110.17px;
    height: 18.96px;
    gap: 4.33px;
    opacity: 0px;
  }
  .powered-by {
    font-size: 13px;
    font-weight: 500;
    line-height: 15.6px;
    letter-spacing: -0.01em;
    text-align: center;
  }
  .image-removebg-preview-1-1 {
    width: 36.83px;
    height: 18.96px;
    gap: 0px;
    opacity: 0px;
  }
  .control-your-home {
    font-size: 26px;
    font-weight: 600;
    line-height: 29.9px;
    text-align: left;
  }
  .install-our-app-parent {
    width: 295px;
    height: 82.57px;
    gap: 20px;
    opacity: 0px;
  }
  .install-our-app {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: left;
  }
  .apppromo-frame-parent5 {
    width: 295px;
    height: 44.57px;
    gap: 17.33px;
    opacity: 0px;
  }
  .image-331-icon,
  .image-332-icon,
  .image-331-wrapper {
    width: 120.79px;
    height: 44.57px;
  }

  .image-331-wrapper {
    padding: 3.33px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    overflow: hidden;
  }
  .image-330-icon {
    width: 222.74px;
    top: 53px;
    position: absolute;
    left: 241px;
    height: 290.77px;
    gap: 0px;
    border-radius: 14.18px;
    transform: rotate(-0.1deg);
  }
}
