.our-products-title {
  height: 48.375rem; /* 774px */
  line-height: 115%;
  font-weight: 600;
  background-color: #fbfbfb;
  font-family: Matter-Semibold;
}

.background-image-icon {
  position: absolute;
  top: 28.16rem; /* 450.45px */
  left: 58.14rem; /* 930.43px */
  border-radius: 1.25rem; /* 20px */
  width: 38.74rem; /* 619.2px */
  height: 29.94rem; /* 479.1px */
  object-fit: contain;
}

.minus-icon {
  width: 1.375rem; /* 22px */
  position: relative;
  height: 1.375rem; /* 22px */
  overflow: hidden;
  flex-shrink: 0;
}

.minus-wrapper {
  width: 2.5rem; /* 40px */
  border-radius: 0.25rem; /* 4px */
  background-color: #eff5ff;
  height: 2.5rem; /* 40px */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5625rem; /* 9px */
  box-sizing: border-box;
}

.no-replacements-needed {
  margin: 0;
  color: #1c6bff;
}

.plus-wrapper {
  width: 2.5rem; /* 40px */
  border-radius: 0.25rem; /* 4px */
  background-color: #f1f1f1;
  height: 2.5rem; /* 40px */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5625rem; /* 9px */
  box-sizing: border-box;
}

.out-products-btn-container {
  width: 32.1875rem; /* 515px */
  height: 18.75rem; /* 300px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.6875rem; /* 27px */
}

.our-products-container {
  position: relative;
  height: 44.5rem; /* 712px */
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: 1.5rem; /* 24px */
  color: #565656;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12.5rem; /* 200px */
}

.our-products-parent-container {
  height: 48.375rem; /* 774px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 3.375rem; /* 54px */
  color: #000;
}

.toggle-icon {
  width: 1.375rem; /* 22px */
  height: 1.375rem; /* 22px */
}

.toggle-wrapper {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  border-radius: 0.25rem; /* 4px */
  background-color: #eff5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5625rem; /* 9px */
  cursor: pointer;
  box-sizing: border-box;
}

.our-product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5625rem; /* 25px */
}

.our-product-title {
  font-size: 1.5625rem; /* 25px */
  line-height: 2.26875rem; /* 36.3px */
  font-weight: 500;
  color: #2e2e2e;
  margin: 0;
  font-family: Matter-Medium;
}

.ready-for-a-container {
  font-size: 1rem; /* 16px */
  line-height: 130%;
}

.product-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25rem; /* 20px */
  font-size: 1.875rem; /* 30px */
  color: #2e2e2e;
  width: 32.1875rem; /* 515px */
  height: 10.3125rem; /* 165px */
}

.our-product-description {
  font-size: 1.125rem; /* 18px */
  font-weight: 400;
  line-height: 1.625rem; /* 26px */
  text-align: left;
  color: #7d7d7d;
}

.our-products-parent-container .product-container.expanded .toggle-wrapper {
  background-color: #eff5ff;
}

.our-products-parent-container
  .product-container:not(.expanded)
  .ready-for-a-container {
  display: none;
}

.item-3 {
  position: absolute;
  top: 1.875rem; /* 30px */
  left: 1.875rem; /* 30px */
  z-index: 10;
}

.our-products-img-container {
  position: relative;
  width: 34.0625rem; /* 545px */
  height: 20.5rem; /* 328px */
}

.our-product-item-img {
  position: absolute;
  width: 34.0625rem; /* 545px */
  height: 20.5rem; /* 328px */
  object-fit: cover;

  transition: transform 0.5s, opacity 0.5s;
}

.our-product-item-img.active {
  opacity: 1;
}

.upper-right {
  top: -6.25rem; /* -100px */
  right: 0;
  opacity: 0.1;
  border-radius: 1.25rem; /* 20px */
  width: 38.74rem; /* 619.2px */
  height: 29.94rem; /* 479.1px */
  object-fit: contain;
  transition: opacity 1s ease forwards;
  animation: moveToUpperRight 1s forwards;
}

.center {
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease forwards;
  animation: moveToCenter 1s forwards;
}

.lower-right {
  bottom: -6.25rem; /* -100px */
  right: 0;
  opacity: 0.1;
  border-radius: 1.25rem; /* 20px */
  width: 34.0625rem; /* 545px */
  height: 20.5rem; /* 328px */
  object-fit: contain;
  transition: opacity 1s ease forwards;
  animation: resetToLowerRight 1s forwards;
}

@keyframes moveToUpperRight {
  from {
    transform: translate(-50%, -50%) rotate(0);
    transform-origin: -50% -50%;
  }
  to {
    transform: translate(65%, -90%) rotate(12deg);
    transform-origin: 30% -90%;
  }
}

@keyframes moveToCenter {
  0% {
    transform: translate(30%, 100%) rotateZ(-12deg);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes resetToLowerRight {
  0% {
    transform: translate(65%, -90%) rotateZ(12deg);
  }
  100% {
    transform: translate(30%, 100%) rotateZ(-12deg);
  }
}

@media (max-width: 850px) {
  .our-products-parent-container {
    gap: 0.5625rem; /* 9px */
    height: 28.75rem; /* 460.15px */
  }
  .our-products-title {
    font-size: 2.25rem; /* 36px */
    font-weight: 600;
    line-height: 2.5875rem; /* 41.4px */
    text-align: center;
  }
  .our-products-container {
    height: 25.68rem; /* 410.15px */
    gap: 0;

    justify-content: space-around;
  }
  .out-products-btn-container {
    width: 18.54rem; /* 296.67px */
    gap: 0.97rem; /*  15.55px */

    justify-content: center;
  }
  .product-container {
    height: fit-content;
  }
  .toggle-wrapper {
    width: 1.4375rem; /* 23.04px */
    height: 1.4375rem; /* 23.04px */
    padding: 0.32375rem; /* 5.18px */
    gap: 0.36rem; /* 5.76px */
    border-radius: 0.14375rem; /* 2.3px */
  }
  .our-product-info {
    gap: 0.625rem; /* 10px */
  }
  .our-product-title {
    font-size: 1.07875rem; /* 17.28px */
    font-weight: 500;
    line-height: 1.309375rem; /* 20.91px */
    text-align: left;
  }
  .ready-for-a-container {
    width: 16.25rem; /* 262.11px */
  }
  .our-product-description {
    font-size: 0.72rem; /* 11.52px */
    font-weight: 400;
    line-height: 0.9325rem; /* 14.98px */
    text-align: left;
  }
  .our-products-img-container {
    width: 19.6rem; /* 313.95px */
    gap: 0;
    border-radius: 0.72rem; /* 11.52px */
  }
  .our-product-item-img {
    width: 19.6rem; /* 313.95px */
    height: 11.86875rem; /* 188.95px */
  }
  .item-3 {
    width: 19.6rem; /* 313.95px */
    height: 11.86875rem; /* 188.95px */
  }
  .upper-right {
    top: -0.3125rem; /* -5px */
    right: 2.5rem; /* 40px */
  }
  .center {
    top: 50%;
  }
  .lower-right {
    bottom: 0;
    right: 1.875rem; /* 30px */
  }
}

@media (max-width: 450px) {
  .our-products-parent-container {
    height: 30.3125rem; /* 485px */
    gap: 1.875rem; /* 30px */
  }
  .our-products-title {
    height: 1.4375rem; /* 23px */
    font-size: 1.25rem; /* 20px */
    font-weight: 600;
    line-height: 1.4375rem; /* 23px */
    text-align: center;
  }
  .our-products-container {
    height: 26.25rem; /* 420px */
    flex-direction: column-reverse;
  }
  .our-products-img-container {
    width: 18.125rem; /* 290px */
  }
  .our-product-item-img {
    border-radius: 0.625rem; /* 10px */
  }

  .lower-right {
    bottom: 10rem;
    right: 24.875rem;
  }

  .upper-right {
    top: 14.6875rem;
    right: -11.5rem;
  }

  .mv-prev {
    left: -21.875rem; /* -350px */
    top: 3.125rem; /* 50px */
    opacity: 0.1;
    transform: rotateZ(-21deg);
  }

  .mv-next {
    right: -21.875rem; /* -350px */
    top: 3.125rem; /* 50px */
    opacity: 0.1;
    transform: rotateZ(21deg);
  }
  .item-3 {
    left: 0;
  }
  .out-products-btn-container {
    width: 22.375rem; /* 358px */
    gap: 1.1675rem; /* 18.77px */
  }
  .our-product-info {
    width: 19.625rem; /* 316.29px */
  }
  .ready-for-a-container {
    width: 19.625rem; /* 316.29px */
  }
}
