.contact-footer-inner {
  position: absolute;
  top: calc(50% - 33.375rem);
  left: calc(50% - 89.25rem);
  width: 178.5rem;
  height: 67.125rem;
  object-fit: cover;
  opacity: 0.15;
  mix-blend-mode: overlay;
}

.contact-talk-to-us {
  width: 15rem;
  position: relative;
  font-size: 1rem;
  letter-spacing: 0.04em;
  line-height: 140%;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  color: #1c6bff;
}

.contact-request-a-call {
  color: #3b3b3b;
  font-family: Matter-Medium;
}

.contact-seeking-personalized-support-container {
  width: 100%;
  position: relative;
  font-size: 1.75rem;
  letter-spacing: -0.02em;
  line-height: 130%;
  font-weight: 500;
  display: inline-block;
  color: rgba(37, 37, 37, 0.4);
}

.contact-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25rem;
  width: 100%;
  height: 8.065rem;
}

.contact-your-name {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 1.49875rem;
  text-transform: uppercase;
  opacity: 0.4;
  font-size: 1rem;
}

.contact-footer-input {
  font-size: 0.875rem;
  line-height: 140%;
  background-color: #fbfbfb;
  color: black;
  width: 100%;
  border: none;
  outline: none;
  cursor: text;
}

.contact-footer-input:focus {
  outline: none;
}

.contact-input-focused {
  border: 1.3px solid #27272799 !important;
}

.contact-field {
  width: 100%;
  align-self: stretch;
  border-radius: 0.75rem;
  border: 1px solid rgba(77, 77, 77, 0.24);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5625rem 0.75rem;
  gap: 0.25rem;
}

.contact-field1 {
  width: 100%;
  align-self: stretch;
  border-radius: 0.75rem;
  border: 1px solid rgba(77, 77, 77, 0.24);
  box-sizing: border-box;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem 0.75rem;
}

.contact-field2 {
  width: 100%;
  align-self: stretch;
  border-radius: 0.75rem;
  border: 1px solid rgba(77, 77, 77, 0.24);
  box-sizing: border-box;
  height: 6.4375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem 0.75rem;
}

.contact-field2 textarea {
  resize: none;
  height: 6.4375rem;
}

.contact-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  color: #000;
}

.contact-send-request {
  position: relative;
  line-height: 1.75rem;
  font-weight: 500;
  font-family: Matter-Medium;
}

.contact-instance-parent {
  flex: 1;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 1.75rem;
  gap: 0.5rem;
}

.contact-pw-web-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 1.125rem;
  color: #f8f8f8;
  background-color: #1c6bff;
  padding: 0;
  outline: none;
}

.contact-pw-web-buttons:hover {
  background-color: #2b87f9;
}

.contact-feedback-top {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 33.6rem;
  gap: 1.59rem;
}

.contact-top {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.contact-feedback {
  border-radius: 1rem;
  background-color: #fbfbfb;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5rem 1.5rem;
  padding-bottom: 0;
  width: 41.6875rem;
  gap: 12.875rem;
}

.contact-footer-vector-icon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.contact-footer-item-icon {
  width: 3.125rem;
  border-radius: 50px;
  border: 1px solid rgba(101, 101, 101, 0.13);
  box-sizing: border-box;
  height: 3.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contact-rilinkedin-fill-icon {
  width: 1.125rem;
  height: 1.125rem;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}

.contact-vector-icon2 {
  width: 1.1875rem;
  height: 1rem;
  cursor: pointer;
}

.contact-socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 14.75rem;
  height: 3.125rem;
}

.contact-copyright-effortless {
  line-height: 140%;
  white-space: pre-wrap;
  opacity: 0.4;
  font-size: 1.175rem;
}

.contact-copyright-effortless-automat-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-bottom {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 38.375rem;
  height: 8.78rem;
  text-align: left;
  color: #252525;
}

.contact-footer-main {
  align-self: stretch;
  width: 39.25rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
}

.contact-feedback-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8rem;
  width: 100%;
  max-width: 75rem;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaf2ff;
  width: 100%;
  max-width: 94.5rem;
  font-size: 0.75rem;
  color: #1c6bff;
  padding-top: 3.125rem;
  overflow: hidden;
}

.contact-us-info-heading {
  align-self: stretch;
  letter-spacing: 0.04em;
  line-height: 140%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  color: #1c6bff;
}

.call-icon {
  width: 1.71rem;
  position: relative;
  height: 1.71rem;
  overflow: hidden;
  flex-shrink: 0;
}

.call-text {
  position: relative;
  line-height: 140%;
}

.call-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.06rem;
}

.sno560583-office-no3 {
  width: 37.6875rem;
  position: relative;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
}

.effortlessautomationpvtltdgma {
  width: 37.5625rem;
  position: relative;
  text-decoration: underline;
  line-height: 140%;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}

.email-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.06rem;
}

.auto-layout-vertical {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.59rem;
  color: #5d5d5d;
}

.contact-us-info-container {
  border-radius: 1.0625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.125rem 1.5rem;
  box-sizing: border-box;
  gap: 1.8125rem;
  text-align: left;
  font-size: 1rem;
  width: 39.25rem;
  height: 17.59375rem;
  background-color: #ffffff;
  box-shadow: 0px 0.10625rem 0.63625rem 0px #0000001a;
}

@media (max-width: 850px) {
  .contact-feedback-parent {
    width: 47.25rem;
    height: 22.75rem;
    gap: 3.125rem;
  }
  .contact-feedback {
    width: 22.375rem;
    height: 22.125rem;
    padding: 1.5625rem 0.875rem 0.625rem 0.875rem;
    gap: 7.875rem;
    border-radius: 0.625rem;
    overflow: visible;
  }
  .contact-feedback-top {
    width: 20.625rem;
    height: 19.625rem;
    gap: 0.925rem;
  }
  .contact-intro {
    width: 20.625rem;
    height: 4 125rem;
    gap: 0.775rem;
  }
  .contact-talk-to-us {
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 0.875rem;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .contact-seeking-personalized-support-container {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    text-align: left;
  }
  .contact-group {
    width: 20.625rem;
    gap: 0.68rem;
  }
  .contact-field {
    width: 20.625rem;
    height: 3.125rem;
    gap: 0.155rem;
    padding: 0.35rem 0.465rem;
  }
  .contact-your-name {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .contact-field1 {
    width: 20.625rem;
    height: 3.125rem;
    padding: 0.31rem 0.465rem;
    gap: 0.31rem;
  }
  .contact-field2 {
    width: 20.625rem;
    height: 5.625rem;
    padding: 0.31rem 0.465rem;
    gap: 0.31rem;
  }
  .contact-pw-web-buttons {
    width: 20.625rem;
  }
  .contact-instance-parent {
    width: 20.625rem;
    padding: 0.54rem 1.08rem;
    gap: 0.31rem;
  }
  .contact-send-request {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.09rem;
    text-align: center;
  }
  .contact-footer-main {
    width: 22.375rem;
    height: 24.1875rem;
  }
  .contact-us-info-container {
    width: 22.375rem;
    height: 10.25rem;
    padding: 1.25rem 0.875rem;
    gap: 1.0625rem;
  }
  .contact-us-info-heading {
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .auto-layout-vertical {
    width: 20.625rem;
    height: 5.75rem;
    gap: 0.9375rem;
  }
  .call-parent,
  .email-parent {
    width: 20.625rem;
    height: 1.875rem;
    gap: 0.625rem;
  }
  .call-icon {
    width: 1rem;
    height: 1rem;
  }
  .call-text,
  .sno560583-office-no3,
  .effortlessautomationpvtltdgma {
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
  }

  .sno560583-office-no3 {
    width: 90%;
  }

  .contact-bottom {
    width: 22.375rem;
    height: 5.125rem;
    gap: 1.5625rem;
  }
  .contact-socialmedia {
    width: 12.375rem;
    height: 2.625rem;
    gap: 0.625rem;
  }
  .contact-copyright-effortless {
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: right;
  }
  .contact-footer-item-icon {
    width: 2.625rem;
    height: 2.625rem;
    gap: 0;
    border-radius: 2.625rem;
  }
  .contact-footer-vector-icon {
    width: 0.84rem;
    height: 0.84rem;
  }
  .contact-vector-icon2 {
    width: 1.09rem;
    height: 1.09rem;
  }
}

@media (max-width: 450px) {
  .contact-feedback-parent {
    width: 22.375rem;
    height: 48.125rem;
    gap: 1.875rem;
    flex-direction: column;
  }
  .contact-feedback {
    width: 20.625rem;
    height: 22.875rem;
    padding: 1.5625rem 0.875rem;
    gap: 7.875rem;
  }
  .contact-feedback-top {
    width: 20.625rem;
    height: 19.625rem;
    gap: 0.925rem;
  }
  .contact-intro {
    width: 20.625rem;
    height: 4.125rem;
    gap: 0.775rem;
  }
  .contact-talk-to-us {
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 0.875rem;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .contact-seeking-personalized-support-container {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    text-align: left;
  }
  .contact-group {
    width: 20.625rem;
    gap: 0.68rem;
  }
  .contact-field {
    width: 20.625rem;
    height: 3.125rem;
    gap: 0.155rem;
    padding: 0.35rem 0.465rem;
  }
  .contact-your-name {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .contact-field1 {
    width: 20.625rem;
    height: 3.125rem;
    padding: 0.31rem 0.465rem;
    gap: 0.31rem;
  }
  .contact-field2 {
    width: 20.625rem;
    height: 5.625rem;
    padding: 0.31rem 0.465rem;
    gap: 0.31rem;
  }
  .contact-pw-web-buttons {
    width: 20.625rem;
  }
  .contact-instance-parent {
    width: 20.625rem;
    padding: 0.54rem 1.08rem;
    gap: 0.31rem;
  }
  .contact-send-request {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.09rem;
    text-align: center;
  }
  .contact-footer-main {
    width: 22.375rem;
    height: 24.1875rem;
  }
  .contact-us-info-container {
    width: 22.375rem;
    height: 10.25rem;
    padding: 1.25rem 0.875rem;
    gap: 1.0625rem;
  }
  .contact-us-info-heading {
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .auto-layout-vertical {
    width: 20.625rem;
    height: 5.75rem;
    gap: 0.9375rem;
  }
  .call-parent,
  .email-parent {
    width: 20.625rem;
    height: 1.875rem;
    gap: 0.625rem;
  }
  .call-icon {
    width: 1rem;
    height: 1rem;
  }
  .call-text,
  .sno560583-office-no3,
  .effortlessautomationpvtltdgma {
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
  }
  .contact-bottom {
    width: 22.375rem;
    height: 5.125rem;
    gap: 1.5625rem;
  }
  .contact-socialmedia {
    width: 12.375rem;
    height: 2.625rem;
    gap: 0.625rem;
  }
  .contact-copyright-effortless {
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: right;
  }
  .contact-footer-item-icon {
    width: 2.625rem;
    height: 2.625rem;
    gap: 0;
    border-radius: 2.625rem;
  }
  .contact-footer-vector-icon {
    width: 0.84rem;
    height: 0.84rem;
  }
  .contact-vector-icon2 {
    width: 1.09rem;
    height: 1.09rem;
  }
}
