p {
  margin: 0;
}

.our-solutions {
  font-family: Metal;
  font-size: 1.875rem; /* 30px */
  font-weight: 400;
  line-height: 2.15625rem; /* 34.5px */
  text-align: center;
}

.elevate-your-home {
  font-family: Matter-Semibold;
  font-size: 3.875rem; /* 62px */
  font-weight: 600;
  line-height: 4.4375rem; /* 71.3px */
  text-align: center;
  color: #000000;
}

.our-solutions-parent {
  width: 48.5625rem; /* 777px */
  height: 12.0625rem; /* 193px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.0625rem; /* 17px */
}

.modular-design-means {
  font-weight: 500;
  width: 21.9375rem; /* 351px */
  line-height: 2.265rem; /* 36.3px */
  display: inline-block;
  flex-shrink: 0;
  font-family: Matter;
}

.span-90 {
  font-weight: 600;
  color: #1c6bff;
  font-family: Matter-Medium;
}

.points-oem-container .points {
  margin-block-start: 0;
  margin-block-end: 0.5rem; /* 8px */
  margin: 0;
}

.points-oem-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.875rem; /* 14px */
  line-height: 1.42857; /* 20px */
  color: #656565;
}

.title-modular-design-parent {
  width: 12.625rem; /* 202px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.0625rem; /* 17px */
}

.hardware-design-parent {
  width: 12.4375rem; /* 199px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.0625rem; /* 17px */
}

.embedded-software-parent {
  width: 14.3125rem; /* 229px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.0625rem; /* 17px */
}

.three-modular-design {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.0625rem; /* 65px */
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  line-height: 1.4375rem; /* 23px */
  text-align: left;
  font-family: Matter-Medium;
}

.modular-design-means-easy-part-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.3125rem; /* 165px */
  text-align: left;
  color: #1d1d1d;
  font-family: Matter;
}

.solutions-container {
  height: 32.9375rem; /* 527px */
  gap: 11.875rem; /* 190px */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 1.875rem; /* 30px */
  color: #383838;
  font-family: Metal;
}

@media (max-width: 850px) {
  .solutions-container {
    height: 24.6875rem; /* 395px */
    gap: 9.4375rem; /* 151px */
  }
  .our-solutions-parent {
    width: 25.0625rem; /* 401px */
    height: 7.625rem; /* 122px */
    gap: 1.062 5rem; /* 17px */
  }
  .our-solutions {
    font-family: Metal;
    font-size: 1.25rem; /* 20px */
    font-weight: 400;
    line-height: 1.4375rem; /* 23px */
    text-align: center;
  }
  .elevate-your-home {
    font-size: 2.25rem; /* 36px */
    font-weight: 600;
    line-height: 2.5875rem; /* 41.4px */
    text-align: center;
  }
  .modular-design-means-easy-part-parent {
    width: 45.9375rem; /* 735px */
    height: 7.625rem; /* 122px */
    gap: 3.75rem; /* 60px */
  }
  .modular-design-means {
    font-family: Matter;
    font-size: 1rem; /* 16px */
    font-weight: 500;
    line-height: 1.209rem; /* 19.36px */
    text-align: left;
    width: 10.8125rem; /* 173px */
    height: 4.75rem; /* 76px */
    gap: 0;
  }
  .span-90 {
    font-family: Matter;
    font-size: 1rem; /* 16px */
    font-weight: 600;
    line-height: 1.209rem; /* 19.36px */
    text-align: left;
  }
  .three-modular-design {
    width: 31.125rem; /* 502px */
    height: 7.625rem; /* 122px */
    gap: 2.4375rem; /* 39px */
  }
  .title-modular-design {
    font-family: Matter-Medium;
    font-size: 0.8125rem; /* 13px */
    font-weight: 500;
    line-height: 0.934375rem; /* 14.95px */
    text-align: left;
  }

  .points-oem-container {
    font-family: Matter;
    font-size: 0.75rem; /* 12px */
    font-weight: 400;
    line-height: 0.74375rem; /* 11.88px */
    text-align: left;
    gap: 0.5rem; /* 8px */
  }
  .title-modular-design-parent {
    width: 9.4375rem; /* 151px */
    height: 6.375rem; /* 102px */
    gap: 0.9375rem; /* 15px */
  }
  .hardware-design-parent {
    width: 9.375rem; /* 150px */
    height: 7.625rem; /* 122px */
    gap: 0.9375rem; /* 15px */
  }
  .embedded-software-parent {
    width: 7.6875rem; /* 123px */
    height: 3.375rem; /* 54px */
    gap: 0.9375rem; /* 15px */
  }
}

@media (max-width: 450px) {
  .solutions-container {
    height: 32.9375rem; /* 527px */
    gap: 3.875rem; /* 62px */
  }
  .our-solutions-parent {
    width: 17.1875rem; /* 275px */
    gap: 1.0625rem; /* 17px */
  }
  .our-solutions {
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
    line-height: 1rem; /* 16.1px */
    text-align: center;
  }
  .elevate-your-home {
    font-size: 1.5rem; /* 24px */
    font-weight: 600;
    line-height: 1.725rem; /* 27.6px */
    text-align: center;
  }
  .modular-design-means-easy-part-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 22.1875rem; /* 355px */
    height: 23.0625rem; /* 369px */
    min-width: 22.1875rem; /* 355px */
    gap: 3.75rem; /* 60px */
  }
  .modular-design-means {
    width: 22.1875rem; /* 355px */
    height: 2.375rem; /* 38px */
  }
  .three-modular-design {
    width: 22.1875rem; /* 355px */
    height: 16.9375rem; /* 271px */
  }
  .points-oem-container {
    gap: 0.9375rem; /* 15px */
  }
  .points {
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
    line-height: 1.09375rem; /* 17.5px */
    text-align: left;
  }
  .title-modular-design {
    font-size: 1rem; /* 16px */
    font-weight: 500;
    line-height: 1.15rem; /* 18.4px */
    text-align: left;
  }
}
