.SP-image-icon {
  align-self: stretch;
  border-radius: 9.63px;
  max-width: 100%;
  overflow: hidden;
  height: 698.3px;
  flex-shrink: 0;
  object-fit: cover;
}
.SP-image-icon1 {
  width: 99.5px;
  border-radius: 5.75px;
  height: 99.5px;
  object-fit: cover;
}
.image-group-more {
  line-height: 21.08px;
}
.image-group-more-wrapper {
  align-self: stretch;
  width: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 6px;
  box-sizing: border-box;
}
.image-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.SP-image-parent {
  width: 698.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24.9px;
}
.SP-original-price-span {
  text-decoration: line-through;
}
.SP-discounted-price-span {
  font-size: 28px;
  font-weight: 500;
  font-family: Matter;
  color: #1c6bff;
  margin-left: 10px;
}
.SP-div {
  align-self: stretch;
  font-size: 20px;
  color: #f62b2b;
}
.switch-control-10-amp-each-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.9px;
}
.image-336-icon {
  width: 88px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.SP-plus-icon {
  width: 24.3px;
  height: 24.3px;
  overflow: hidden;
  flex-shrink: 0;
}
.tick-icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.raised-inquiry {
  line-height: 17.36px;
  font-weight: 500;
}
.raised-inquiry-container {
  background-color: #edf3ff;
  padding: 10px 18px !important;
}

.raise-inquiry {
  line-height: 21.08px;
  font-weight: 500;
}
.inquiry {
  width: 204px;
  border-radius: 9.03px;
  border: 1.2px solid #1c6bff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12.1px 24px;
  gap: 12.1px;
  text-align: center;
  font-size: 19.42px;
  color: #1c6bff;
  cursor: pointer;
}
.selected-product-info-brief {
  align-self: stretch;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0px 0px 25px;
  gap: 25px 73px;
}
.SP-info-upgrade-your-home,
.upgrade-your-home {
  align-self: stretch;
  position: relative;
  line-height: 133%;
}

.features {
  align-self: stretch;
  position: relative;
  line-height: 133%;
  font-weight: 500;
}
.no-extra-wiring {
  margin-bottom: 0px;
}
.no-extra-wiring-or-wall-damage {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 19px;
}
.no-extra-wiring-container {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 133%;
  color: #636363;
}
.features-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.9px;
}
.SP-SP-frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25.8px;
  font-size: 18px;
  color: #3b3b3b;
}
.upgrade-your-home-effortlessly-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
}
.question-mark-icon {
  width: 28px;
  position: relative;
  height: 28px;
  object-fit: cover;
}
.SP-how-it-works-title {
  width: 371px;
  line-height: 133%;
  font-weight: 500;
  overflow: auto;
}
.question-mark-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12.5px;
}
.chevron-right-icon {
  width: 25px;
  position: relative;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.SP-frame-parent4 {
  align-self: stretch;
  border-radius: 10.43px 10.43px 0px 0px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10.4px 14.6px;
}
.it-will-be-installed-behind-yo-wrapper {
  align-self: stretch;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18.8px 14.6px;
  font-size: 14px;
  color: #636363;
}
.SP-frame-parent3 {
  align-self: stretch;
  box-shadow: 0px 1.0431886911392212px 5.95px rgba(0, 0, 0, 0.18);
  border-radius: 10.43px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.SP-frame-parent5 {
  align-self: stretch;
  box-shadow: 0px 1.0431886911392212px 5.95px rgba(0, 0, 0, 0.18);
  border-radius: 10.43px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10.4px 14.6px;
}
.SP-frame-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20.9px;
  font-size: 16px;
  color: #242424;
}

.Sp-SP-frame-parent1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 630px;
  height: 213.51px;
  gap: 25.76px;
  opacity: 0px;

  gap: 20px;
}

.selected-product-info-div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  font-size: 15.45px;
  color: #636363;
}
.SP-selected-product-info-container {
  width: 630px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  text-align: left;
  font-size: 26px;
  color: #000;
}
.SP-selected-product-container {
  margin: 0 auto 100px auto;
  width: 1392px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}
.image-icon6 {
  align-self: stretch;
  border-radius: 11.95px;
  max-width: 100%;
  overflow: hidden;
  height: 298.7px;
  flex-shrink: 0;
  object-fit: cover;
}
.switch-control-101 {
  display: inline-block;
  width: 239px;
}
.node {
  white-space: pre-wrap;
}
.span4 {
  font-size: 16px;
  font-weight: 500;
  font-family: Matter;
  color: #1c6bff;
}
.SP-price-div {
  display: inline-block;
  width: 239px;
  font-size: 14px;
  color: #f62b2b;
  margin-top: 5px;
}
.switch-control-10-amp-each-group {
  width: 239px;
  height: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-container {
  width: 298.7px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  font-size: 17px;
}

.switch-control-with-remote-1-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.SP-frame-parent6 {
  align-self: stretch;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  font-size: 16px;
  color: #000;
}
.view-similar-parent {
  margin: 10px auto;
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  font-size: 24px;
  color: #4e4d4d;
}

.desktop-product-page {
  width: 1512px;
  position: relative;
  background-color: #fbfbfb;
  height: 1596px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #525252;
  font-family: Matter;
}

.icon {
  width: 8.2px;
  position: relative;
  height: 8.2px;
}
.icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 6px;
}
.please-enter-your {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 135%;
  font-weight: 500;
}
.your-number {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 140%;
  text-transform: uppercase;
  opacity: 0.4;
}
.SP-field {
  align-self: stretch;
  border-radius: 7.44px;
  border: 0.6px solid rgba(39, 39, 39, 0.6);
  box-sizing: border-box;
  width: 95%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.6px 7.4px;
  font-size: 10px;
  background-color: #fff;
}
.please-enter-your-mobile-numbe-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.done {
  line-height: 17.36px;
  font-weight: 500;
}
.instance-parent {
  align-self: stretch;
  flex: 1;
  border-radius: 7.44px;
  background-color: #1c6bff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.7px 17.4px;
  gap: 5px;
}
.SP-pw-web-buttons {
  align-self: stretch;
  width: 95%;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  background-color: #1c6bff;
  color: #f8f8f8;
}
.SP-frame-parent8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.SP-frame-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
}
.top {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(113, 113, 113, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow: hidden;
}

.enter-mobile-no {
  width: 358px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 14px 25px;
  box-sizing: border-box;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: Matter;
  position: relative;
}

.number-input {
  font-size: 14px;
  line-height: 140%;
  background-color: #fff;
  color: black;
  width: 100%;
  border: none;
  outline: none;
}

.number-input:focus {
  outline: none;
}
.input-focused {
  border: 1.3px solid #27272799 !important;
}

@media (max-width: 850px) {
  .SP-selected-product-container {
    width: 754px;
    height: 615.27px;
  }
  .tv-left-placement {
    width: 421px;
    height: 606px;
    gap: 30px;
    opacity: 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
  }
  .SP-image-parent {
    width: 421px;
    height: 496px;
    gap: 15px;
    opacity: 0px;
  }
  .SP-image-icon {
    width: 421px;
    height: 421px;
    gap: 0px;
    border-radius: 5.8px;
    opacity: 0px;
  }
  .image-group {
    width: 421px;
    height: 60px;
  }
  .SP-image-icon1 {
    width: 60px;
    height: 60px;
    border-radius: 3.47px;
    border: 0.87px;
  }
  .SP-selected-product-info-container {
    width: 290px;
    height: 615.27px;
    gap: 30px;
    opacity: 0px;
  }
  .selected-product-info-brief {
    width: 290px;
    height: 158px;
    padding: 0px 0px 20px 0px;
    gap: 25px;
    border: 0px 0px 1px 0px;
  }
  .switch-control-10-amp-each-parent {
    width: 290px;
    gap: 10px;
    opacity: 0px;
  }
  .SP-how-it-works {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.28px;
    text-align: left;
  }
  .SP-div {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
  }
  .SP-discounted-price-span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .tv-SP-row {
    width: 290px;
    height: 58px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .image-336-icon {
    width: 63px;
    height: 58px;
  }
  .inquiry {
    width: 178px;
    height: 40px;
    padding: 10px;
    gap: 10px;
    border-radius: 7.44px;
    border: 1px;
    opacity: 0px;
    border: 1px solid var(--Accent-Blue, #1c6bff);
  }
  .raise-inquiry,
  .raised-inquiry {
    width: 100px;
    height: 18px;

    font-size: 15px;
    font-weight: 500;
    line-height: 17.36px;
    text-align: left;
  }
  .tick-icon,
  .SP-plus-icon {
    width: 20px;
    height: 20px;
    padding: 4.17px;
  }
  .SP-upgrade-your-home-effortlessly-parent {
    width: 290px;
    height: 174px;
    gap: 20px;
    opacity: 0px;
  }
  .features-parent {
    width: 290px;
    height: 93px;
    gap: 10px;
    opacity: 0px;
  }
  .features {
    font-family: Matter-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.62px;
    text-align: left;
  }
  .no-extra-wiring-container {
    font-family: Matter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.96px;
    text-align: left;
  }
  .Sp-SP-frame-parent1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
    height: 174px;
    gap: 20px;
  }
  .SP-frame-parent2 {
    width: 320px;
    height: 223.27px;
    gap: 16.2px;
    opacity: 0px;
  }
  .SP-frame-parent5 {
    width: 290px;
    height: 36.45px;
    padding: 8.1px;
    border-radius: 8.1px;
  }
  .question-mark-parent {
    width: 120.97px;
    height: 20.25px;
    gap: 9.72px;
    opacity: 0px;
  }
  .question-mark-icon {
    width: 20.25px;
    height: 20.25px;
  }
  .SP-how-it-works-title {
    font-family: Matter-Medium;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.28px;
    text-align: left;
    margin-top: 5px;
    width: 290px;
  }
  .SP-how-it-works {
    font-family: Matter-Medium;
    font-size: 12px;
    font-weight: 500;
    line-height: 15.96px;
    text-align: left;
  }
  .chevron-right-icon {
    width: 19.44px;
    height: 19.44px;
    padding: 4.86px 0px 4.86px 0px;
  }
  .SP-frame-parent3 {
    width: 306px;
    height: 170.61px;
    gap: 0px;
    border-radius: 8.1px;
  }
  .SP-frame-parent4 {
    width: 290px;
    height: 36.45px;
    padding: 8.1px;
    border-radius: 8.1px;
  }
  .it-will-be-installed-behind-yo-wrapper {
    width: 290px;
    height: 134.16px;
    padding: 14.58px 11.34px 14.58px 11.34px;
    border: 0.81px;
  }
  .SP-info-upgrade-your-home {
    font-family: Matter;
    font-size: 11px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
  }
  .view-similar-parent {
    width: 794px;
    height: 261.87px;
    gap: 20px;
    opacity: 0px;
  }
  .SP-frame-parent6 {
    width: 791.67px;
    height: 220.87px;
    gap: 20px;
    opacity: 0px;
  }
  .image-container {
    width: 161.17px;
    height: 220.87px;
    gap: 13.47px;
    opacity: 0px;
  }
  .image-icon {
    width: 161.17px;
    height: 160.93px;
    gap: 0px;
    border-radius: 6.44px;
    opacity: 0px;
  }
  .switch-control-10-amp-each-group {
    width: 161.17px;
    height: 46.47px;
    gap: 6.47px;
    opacity: 0px;
  }
  .switch-control-101 {
    font-size: 11px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
    width: 158.41px;
    height: 30px;
  }
  .SP-price-div {
    font-size: 7.54px;
    font-weight: 400;
    line-height: 9.05px;
    text-align: left;
    width: 161.17px;
    height: 46.47px;
    gap: 6.47px;
    opacity: 0px;
  }

  .span1 {
    font-size: 7.54px;
    font-weight: 400;
    line-height: 9.05px;
    text-align: left;
  }
}
