.navigation-bar .nav-child .logo-nav {
  width: 150px;
  height: 60px;
  gap: 0px;
  opacity: 0px;
  object-fit: cover;
  margin-top: 5px;
}

.navigation-bar .nav-child .tab-parent .home {
  width: 88px;
  height: 40px;
  padding: 2px 20px;
  gap: 0px;
  border-radius: 100px;
  opacity: 0px;
  background-color: #ffffff;
  text-align: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar .nav-child .tab-parent .product {
  width: 112px;
  height: 40px;
  gap: 0px;
  opacity: 0px;
  padding: 2px 20px;

  position: relative;
  border-radius: 100px;
  background-color: #ffffff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar .nav-child .tab-parent .smart-space {
  width: 143px;
  height: 40px;
  gap: 0px;
  opacity: 0px;
  padding: 2px;

  position: relative;
  border-radius: 100px;
  background-color: #ffffff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar .nav-child .tab-parent .about-us {
  width: 115px;
  height: 40px;
  gap: 0px;
  opacity: 0px;
  padding: 2px;

  position: relative;
  border-radius: 100px;
  background-color: #ffffff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar .nav-child .tab-parent .home p,
.navigation-bar .nav-child .tab-parent .product p,
.navigation-bar .nav-child .tab-parent .smart-space p,
.navigation-bar .nav-child .tab-parent .about-us p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
  color: #474747;
  margin: auto;
  width: auto;
  height: auto;
}

.navigation-bar .nav-child .tab-parent {
  width: 500px;
  height: 41px;
  padding: 7px 8px 7px 8px;
  gap: 14px;
  border-radius: 100px;
  opacity: 0px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.navigation-bar .nav-child .nav-contact-btn .contact-us-nav .contact-p {
  width: auto;
  height: auto;
  font-size: 16px;
  margin: 0;
}

.navigation-bar .nav-child .nav-contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar .nav-child .nav-contact-btn .contact-us-nav {
  width: 121px;
  border-radius: 50px;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #1c6bff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navigation-bar .nav-child .nav-contact-btn .contact-us-nav:hover {
  background-color: #f8f8f8;
  outline: none;
  border: none;
  transition: background-color 1s ease;
}

.contact-hover-state {
  display: none;
  color: white;
  opacity: 0;
  margin-left: 5px;
}

.contact-us-nav:hover .contact-hover-state {
  display: inline;
  opacity: 1;
  color: #1c6bff;
  transition: opacity 1s ease;
}
.navigation-bar .nav-child .nav-contact-btn .contact-us-nav:hover p {
  color: #1c6bff;
}

.nav-child {
  width: 100%;
  height: 54px;
  gap: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0px;
  align-items: center;
}

.navigation-bar {
  width: 100%;
  height: 97px;
  padding: 20px 60px 20px 60px;
  gap: 10px;
  opacity: 0px;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: 16px;
  color: #474747;
}

.navigation-bar .nav-child .tab-parent button {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  transition: color 1s ease;
}

.navigation-bar .nav-child .tab-parent button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 150%;
  background-color: #e8eaed;
  border-radius: 45%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 1s ease;
  z-index: 0;
  opacity: 0;
}

.navigation-bar .nav-child .tab-parent button:hover::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.navigation-bar .nav-child .tab-parent button:hover p {
  position: relative;
  z-index: 1;
  color: #272727;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.navigation-bar .nav-child .tab-parent .active {
  position: relative;
  border: none;
  outline: none;
}

.navigation-bar .nav-child .tab-parent .active p {
  color: #1c6bff;
  font-size: 17px;
  font-weight: 600;
  line-height: 19.2px;
}

.navigation-bar .nav-child .tab-parent .active .dot {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #1c6bff;
  width: 4px;
  height: 4px;
}

@media (max-width: 850px) {
  .navigation-bar {
    width: 100%;
    height: 77px;
  }
  .navigation-bar .nav-child {
    width: 100%;
  }
  .navigation-bar .nav-child .logo-nav {
    width: 83.9px;
    height: 31.33px;
  }
  .navigation-bar .nav-child .tab-parent {
    width: 349.72px;
    height: 38.23px;
  }
  .navigation-bar .nav-child .tab-parent .home {
    width: 62.3px;
    height: 28.32px;
  }
  .navigation-bar .nav-child .tab-parent .product {
    width: 79.29px;
    height: 28.32px;
  }
  .navigation-bar .nav-child .tab-parent .smart-space {
    width: 94.16px;
    height: 28.32px;
  }
  .navigation-bar .nav-child .tab-parent .about-us {
    width: 72.92px;
    height: 28.32px;
  }
  .navigation-bar .nav-child .nav-contact-btn .contact-us-nav {
    width: 78.91px;
    height: 30.65px;
    padding: 20px;
  }
  .navigation-bar .nav-child .tab-parent .home p,
  .navigation-bar .nav-child .tab-parent .product p,
  .navigation-bar .nav-child .tab-parent .smart-space p,
  .navigation-bar .nav-child .tab-parent .about-us p {
    font-size: 11.33px;
    line-height: 13.59px;
  }

  .navigation-bar .nav-child .tab-parent button:hover p {
    font-size: 10px;
  }

  .navigation-bar .nav-child .nav-contact-btn .contact-us-nav .contact-p {
    font-size: 10.43px;
    line-height: 13.59px;
  }
}

@media (max-width: 390px) {
  .navigation-bar {
    width: 100%;
    padding: 0px 16px 0px 16px;
  }
  .nav-child {
    width: 100%;
    height: 58px;
  }
  .logo-nav {
    width: 29.58px !important;
    height: 24px !important;
  }
  .menu-icon {
    size: 48px;
    cursor: pointer;
    padding-right: 10px;
  }
  .mv-navbar-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    right: -100%;
    top: 55px;
    background-color: #f8f8f8;
    padding-top: 10px;
    font-size: 18px;
    transition: right 0.5s ease;
  }

  .mv-navbar-contents.open {
    right: 0;
  }

  .mv-btns {
    width: 100%;
    height: 70px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    padding-left: 20px;
    border-radius: 0%;
    background-color: #f8f8f8;
    color: #474747;
    border-bottom: 1px solid #bfbfbf;
  }

  .mv-active {
    color: #1c6bff;
    font-size: 19px;
    font-family: Matter-Medium;
    line-height: 19.2px;
  }

  .mv-nav-title {
    font-family: Matter-Semibold;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
  }
}
