 @keyframes fadeIn {
  from {
     
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 @keyframes slideIn {
  from {
     
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 .hidden {
   
  transform: translateY(100px);
}

 .fade-out-animation {
  animation: fadeOut 0.5s forwards ease-in-out;
}

.fade-in-animation {
  animation: fadeIn 0.5s forwards ease-in-out;
}

.slide-in-animation {
  animation: slideIn 0.7s forwards ease-in-out;
}

.about-us-landing {
  width: 100%;
  max-width: 94.5rem;    height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 5rem;    left: 0;
  background-color: white;
  transition: opacity 0.5s ease;
  opacity: 1;
  transform: translateY(0);
}

.about-us-main-content {
  transition: transform 0.5s ease;
}

.iot {
  color: #1c6bff;
}

.AboutUs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;    width: 100%;
  max-width: 94.5rem;  }

.about-us-heading {
  font-family: Matter;
  font-size: 2.5rem;    font-weight: 400;
  line-height: 3.21875rem;    width: 77.4375rem;    height: 9.5625rem;  }

.smart-home-icon {
  width: 24.375rem;    height: 24.375rem;    object-fit: cover;
}

.our-mission {
  font-family: Metal;
  font-size: 1.875rem;    font-weight: 400;
  line-height: 2.15625rem;    text-align: center;
  color: #383838;
}

.driving-the-future {
  font-family: Matter-Semibold;
  font-size: 3.875rem;    font-weight: 600;
  line-height: 4.4375rem;    text-align: center;
  color: #000000;
}

.our-mission-parent {
  width: 48.5625rem;    height: 12.0625rem;    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.0625rem;  }

.main-content-p {
  align-self: stretch;
  color: #656565;
  font-family: Matter;
  font-size: 0.9375rem;    font-weight: 400;
  line-height: 1.05rem;    text-align: left;
}

.main-content-p-3 {
  align-self: stretch;
  color: #656565;
  font-family: Matter;
  font-size: 0.9375rem;    font-weight: 400;
  line-height: 1.05rem;    text-align: left;
  width: 17.875rem;    height: 3.1875rem;  }

.main-content-heading {
  align-self: stretch;
  position: relative;
  font-size: 1.75rem;    line-height: 115%;
  font-weight: 500;
  color: #383838;
  font-family: Matter-Medium;
 ```css
}

.mission-content-container {
  align-self: stretch;
  flex: 1;
  border-right: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.875rem 1.25rem;    gap: 2.5rem;    width: 21.6875rem;  }

.mission-content-container-1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.875rem;    width: 17.875rem;    height: 6.9375rem;  }

.no-border {
  border: none;
}

.mission-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 0.875rem;    color: #656565;
  font-family: Matter;
  width: 86.25rem;    height: 16.375rem;  }

.aboutus-mission {
  width: 94.375rem;    height: 61.125rem;    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3.75rem;    box-sizing: border-box;
  gap: 10rem;    font-size: 1.875rem;    color: #383838;
  font-family: Metal;
}

.join-us {
  align-self: stretch;
  line-height: 115%;
  font-weight: 600;
  width: 65.625rem;    height: 4.4375rem;    font-family: Matter-Semibold;
  font-size: 3.875rem;    text-align: center;
}

.be-a-part {
  align-self: stretch;
  font-size: 1.5rem;    color: #656565;
  width: 65.625rem;    height: 3.625rem;    font-family: Matter;
  font-weight: 400;
  line-height: 1.8rem;    text-align: center;
}

.join-us-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;    width: 65.625rem;    height: 10.5625rem;  }

.AU-contact {
  height: 1.4375rem;    font-weight: 500;
  font-family: Matter;
  font-size: 1.17125rem;    line-height: 1.40625rem;    text-align: center;
  color: #f7f7f7;
}

.AU-contact-us {
  width: 8.875rem;    position: relative;
  border-radius: 3.66875rem;    height: 3.45rem;    overflow: hidden;
  flex-shrink: 0;
  font-size: 1.17125rem;    background-color: #1c6bff;
}

.AU-contact-us:hover,
.AU-contact-us:focus {
  outline: none;
}

.join-us-container {
  width: 65.625rem;    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 3.125rem;    font-size: 3.875rem;    color: #000;
}

p {
  margin: 0;
}

@media ( max-width: 850px) {
  .AboutUs-container {
    gap: 12.5rem;    }
  .about-us-heading {
    width: 47.25rem;      height: 10.25rem;      font-family: Matter;
    font-size: 2rem;      font-weight: 400;
    line-height: 2.578125rem;      text-align: center;
  }
  .iot {
    font-family: Matter;
    font-size: 2rem;      font-weight: 400;
    line-height: 2.578125rem;      text-align: center;
  }
  .smart-home-icon {
    width: 21.25rem;      height: 21.25rem;    }
  .aboutus-mission {
    width: 52.5rem;      height: 35.5rem;      padding: 0 2.07rem;      gap: 5.5rem;    }
  .our-mission-parent {
    width: 26.75rem;      height: 7.125rem;      gap: 0.585rem;    }
  .our-mission {
    font-size: 1.25rem;      font-weight: 400;
    line-height: 1.4375rem;      text-align: center;
  }
  .driving-the-future {
    font-size: 2.25rem;      font-weight: 600;
    line-height: 2.5875rem;      text-align: center;
  }
  .about-us-flex-wrap {
    width: 43.75rem;      height: 21.25rem;      gap: 2.5rem;      display: flex;
  }
  .mission-content {
    width: 43.75rem;      height: 21.25rem;      gap: 2.5rem;    }
  .mission-content-container {
    width: 21.875rem;      height: 9.425rem;      gap: 1.375rem;    }
  .mission-content-container-1 {
    width: 18.125rem;      height: 3.35rem;      gap: 1rem;       
  }
  .main-content-p {
    font-size: 0.75rem;      font-weight: 400;
    line-height: 0.9rem;      text-align: left;
  }
  .main-content-heading {
    font-size: 1.25rem;      font-weight: 500;
    line-height: 1.4375rem;      text-align: left;
  }
  .main-content-p-3 {
    font-size: 0.75rem;      font-weight: 400;
    line-height: 0.9rem;      text-align: left;
  }
  .join-us-container {
    width: 47.25rem;      height: 11.25rem;      gap: 2.25rem;       
  }
  .join-us-parent {
    width: 47.25rem;      height: 6.75rem;      gap: 1.75rem;    }
  .join-us {
    font-size: 2.25rem;      font-weight: 600;
    line-height: 2.5875rem;      text-align: center;
    width: 47.25rem;      height: 2.5625rem;    }
  .be-a-part {
    font-size: 1rem;      font-weight: 400;
    line-height: 1.2rem;      text-align: center;
    width: 47.25rem;      height: 2.375rem;    }
  .AU-contact-us {
    width: 5.90625rem;      height: 2.29625rem;      gap: 0;
    border-radius: 1.22625rem;    }
  .AU-contact {
    font-size: 0.75rem;      font-weight: 500;
    line-height: 0.9rem;      text-align: center;
    width: 2.8125rem;      height: 0.875rem;    }
}

@media (max-width: 450px) {
  .AboutUs-container {
    gap: 6.25rem;    }
  .about-us-heading {
    width: 21.75rem;      height: 10.5rem;      font-size: 1.25rem;      font-weight: 400;
    line-height: 1.73375rem;      text-align: center;
  }
  .iot {
    font-size: 1.25rem;      font-weight: 400;
    line-height: 1.73375rem;      text-align: center;
  }
  .smart-home-icon {
    width: 17rem;      height: 17rem;    }
  .aboutus-mission {
    width: 22.375rem;      height: 36.75rem;      gap: 3.25rem;      padding: 0 0.625rem;    }
  .our-mission-parent {
    width: 17.1875rem;      height: 5.6875rem;      gap: 1.0625rem;    }
  .our-mission {
    font-size: 1rem;      font-weight: 400;
    line-height: 1.15rem;      text-align: center;
  }
  .about-us-flex-wrap {
    flex-direction: column;
    gap: 0px;
  }

  .driving-the-future {
    font-size: 1.5rem;      font-weight: 600;
    line-height: 1.725rem;      text-align: center;
  }
  .mission-content {
    width: 22.375rem;      height: 27.875rem;      flex-direction: column;
    gap: 1.265rem;    }
  .mission-content-container {
    width: 20rem;      height: 6.354375rem;      padding: 0 0 0.625rem;      gap: 0.70375rem;      border-right: 0;
    border-bottom: 1px solid #d9d9d9;
  }
  .main-content-p-3 {
    width: 22.375rem;      height: 2rem;      font-size: 0.8125rem;      font-weight: 400;
    line-height: 0.975rem;      text-align: left;
  }
  .mission-content-container-1 {
    width: 22.375rem;      height: 2.4rem;      gap: 0.52875rem;    }
  .main-content-heading {
    font-size: 0.875rem; /* 14 ```css
px */
    font-weight: 500;
    line-height: 1.00625rem;      text-align: left;
  }
  .join-us-container {
    width: 22.375rem;      height: 15.625rem;      gap: 2.25rem;    }
  .join-us-parent {
    width: 22.375rem;      height: 7.75rem;      gap: 1.75rem;    }
  .join-us {
    width: 22.375rem;      height: 1.75rem;      font-size: 1.5rem;      font-weight: 600;
    line-height: 1.725rem;      text-align: center;
  }
  .be-a-part {
    width: 22.375rem;      height: 4.25rem;      font-size: 0.875rem;      font-weight: 400;
    line-height: 1.05rem;      text-align: center;
  }
  .AU-contact-us {
    width: 6.4375rem;      height: 2.5rem;    }
  .AU-contact {
    font-size: 0.8125rem;      font-weight: 500;
    line-height: 0.975rem;      text-align: center;
  }
}