:root {
  --primary-color: #1c6bff;
  --text-color: #656565;
  --heading-color: #000000;
  --button-text-color: #ffffff;
  --font-family: Matter;
}

.catalog-container {
  width: 90%;
  max-width: 1392px;
  gap: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.catalog-content {
  display: flex;
  flex-direction: column;
  width: 35%;
  max-width: 507px;
  gap: 6.25rem;
}

.catalog-heading-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.5rem;
}

.catalog-heading {
  font-family: var(--font-family);
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 4.5rem;
  text-align: left;
  color: var(--heading-color);
}

.catalog-desc {
  font-family: var(--font-family);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: var(--text-color);
}

.catalog-btn {
  width: 100%;
  max-width: 366px;
  padding: 1.25rem;
  gap: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.catalog-btn img {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
}

.catalog-btn span {
  font-family: var(--font-family);
  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 1.65rem;
  text-align: left;
  color: var(--button-text-color);
}

@media (max-width: 850px) {
  .catalog-container {
    width: 90%;
    gap: 4.375rem;
  }

  .catalog-content {
    width: 80%;
    max-width: 378px;
    gap: 2rem;
  }

  .catalog-heading-container {
    gap: 0.6875rem;
  }

  .catalog-heading {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .catalog-desc {
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .catalog-btn {
    width: 100%;
    max-width: 286.06px;
    padding: 0.828rem;
    gap: 0.828rem;
    border-radius: 0.5rem;
  }

  .catalog-btn img {
    width: 1.3125rem;
    height: 1.3125rem;
    padding: 0.165rem;
  }

  .catalog-btn span {
    font-size: 1.0625rem;
    line-height: 1.35rem;
  }

  .catalog-image {
    width: 80%;
    max-width: 320px;
    height: auto;
    border-radius: 0.825rem;
  }
}

@media (max-width: 450px) {
  .catalog-container {
    width: 90%;
    height: auto;
    gap: 1.875rem;
    flex-direction: column;
  }

  .catalog-content {
    width: 100%;
    max-width: 358px;
    gap: 1.5rem;
    align-items: center;
  }

  .catalog-heading-container {
    gap: 0.625rem;
  }

  .catalog-heading {
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
  }

  .catalog-desc {
    font-size: 0.75rem;
    line-height: 0.9rem;
    text-align: center;
  }

  .catalog-btn {
    width: 100%;
    max-width: 225.76px;
    padding: 0.6875rem;
    gap: 0.6875rem;
    border-radius: 0.4125rem;
  }

  .catalog-btn img {
    width: 1.1rem;
    height: 1.1rem;
    padding: 0.1375rem;
  }

  .catalog-btn span {
    font-size: 0.8125rem;
    line-height: 1rem;
  }

  .catalog-image {
    width: 100%;
    max-width: 215px;
    height: auto;
    border-radius: 0.825rem;
  }
}
