.iot {
  color: #1c6bff;
}
.AboutUs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 1512px;
}
.about-us-heading {
  font-family: Matter;
  font-size: 40px;
  font-weight: 400;
  line-height: 51.45px;

  width: 1239px;
  height: 153px;
}

.smart-home-icon {
  width: 390px;
  height: 390px;
  object-fit: cover;
}

.our-mission {
  font-family: Metal;
  font-size: 30px;
  font-weight: 400;
  line-height: 34.5px;
  text-align: center;
  color: #383838;
}
.driving-the-future {
  font-family: Matter-Semibold;
  font-size: 62px;
  font-weight: 600;
  line-height: 71.3px;
  text-align: center;
  color: #000000;
}
.our-mission-parent {
  width: 777px;
  height: 193px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
}
.main-content-p {
  align-self: stretch;
  color: #656565;
  font-family: Matter;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}
.main-content-p-3 {
  align-self: stretch;
  color: #656565;
  font-family: Matter;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  width: 287.5px;
  height: 51px;
}
.main-content-heading {
  align-self: stretch;
  position: relative;
  font-size: 28px;
  line-height: 115%;
  font-weight: 500;
  color: #383838;
  font-family: Matter-Medium;
}

.mission-content-container {
  align-self: stretch;
  flex: 1;
  border-right: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px 30px 20px;
  gap: 40px;
  width: 347.5px;
}

.mission-content-container-1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  width: 287.5px;
  height: 111px;
}

.no-border {
  border: none;
}

.mission-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
  color: #656565;
  font-family: Matter;
  width: 1390px;
  height: 262px;
}
.aboutus-mission {
  width: 1510px;
  height: 982px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 60px;
  box-sizing: border-box;
  gap: 160px;
  font-size: 30px;
  color: #383838;
  font-family: Metal;
}
.join-us {
  align-self: stretch;
  line-height: 115%;
  font-weight: 600;
  width: 1052px;
  height: 71px;
  font-family: Matter-Semibold;
  font-size: 62px;
  font-weight: 600;
  line-height: 71.3px;
  text-align: center;
}
.be-a-part {
  align-self: stretch;
  font-size: 24px;
  color: #656565;
  width: 1052px;
  height: 58px;
  font-family: Matter;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
}
.join-us-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  width: 1052px;
  height: 169px;
}

.AU-contact {
  height: 23px;
  font-weight: 500;
  font-family: Matter;
  font-size: 18.78px;
  line-height: 22.53px;

  text-align: center;
  color: #f7f7f7;
}
.AU-contact-us {
  width: 142px;
  position: relative;
  border-radius: 58.68px;
  height: 55.2px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 18.78px;
  background-color: #1c6bff;
}
.AU-contact-us:hover,
.AU-contact-us:focus {
  outline: none;
}
.join-us-container {
  width: 1052px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 50px;
  font-size: 62px;
  color: #000;
}

p {
  margin: 0;
}
