.BPO-heading {
  align-self: stretch;

  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  font-family: Matter-Semibold;
}
.rectangle-div {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 10px 2px rgba(255, 255, 255, 0.25) inset;
  border-radius: 16px 16px 0px 0px;
  background: linear-gradient(
    180deg,
    rgba(179, 205, 255, 0.3),
    rgba(219, 232, 255, 0)
  );
  border: 1px solid rgba(128, 172, 255, 0.3);
  border-bottom: 0px;
  box-sizing: border-box;
  width: 669px;
  height: 380px;
}
.BPO-list-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.rectangle-div-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 10px 2px rgba(255, 255, 255, 0.25) inset;
  border-radius: 16px 16px 0px 0px;
  background: linear-gradient(
    180deg,
    rgba(73, 147, 244, 0.3),
    rgba(28, 107, 255, 0)
  );
  border: 1px solid rgba(73, 147, 244, 0.3);
  border-bottom: 0px;
  box-sizing: border-box;
  width: 669px;
  height: 380px;
}
.checkbox-icon {
  width: 20px;
  position: relative;
  border-radius: 3.2px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #e5eeff;
}
.products-stocks-given {
  position: relative;
  line-height: 150%;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}
.iconfunnel {
  width: 16px;
  position: relative;
  height: 16px;
  display: none;
}
.buttons {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  gap: 8px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  outline: none;
}
.buttons:hover,
.buttons:focus {
  background-color: #fbfbfb;
  outline: none;
}
.enterprise {
  position: absolute;
  top: 79px;
  left: 22px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  width: 623px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 24px;
}
.for-a-district {
  color: #1c6bff;
}
.distributors-for-a-container {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  font-family: Matter-Medium;
}
.title {
  position: absolute;
  top: 25px;
  left: 46px;
  width: 623px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #1a1a1a;
}
.rectangle-parent {
  width: 665px;
  position: relative;
  height: 435px;
}

.enterprise1 {
  position: absolute;
  top: 79px;
  left: 22px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  width: 619px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 24px;
}
.launch-your-own-container {
  position: absolute;
  top: 25px;
  left: 46px;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  mix-blend-mode: normal;
  color: #000;
  font-family: Matter-Medium;
}
.BPO-contents {
  width: 1392px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;
  color: #474747;
}
.BPO {
  width: 1392px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  text-align: center;
  font-size: 52px;
  color: #222;
}

@media (max-width: 850px) {
  .BPO {
    width: 754px;
    height: 391px;
    gap: 50px;
    opacity: 0px;
  }
  .BPO-heading {
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: -0.01em;
    text-align: center;
  }
  .BPO-contents {
    width: 754px;
    height: 307px;
  }
  .rectangle-parent {
    width: 347px;
    height: 307px;
  }
  .rectangle-div {
    width: 347px;
    height: 307px;
  }
  .title {
    width: 190px;
    height: 23px;
    gap: 2.82px;
    opacity: 0px;
  }
  .distributors-for-a-container {
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    text-align: left;
  }
  .enterprise {
    width: 316px;
    height: 234.94px;
    gap: 16.95px;
    padding: 16.95px;
    border: 0.71px;
    border-radius: 14.12px;
  }
  .content {
    width: 282.1px;
    height: 155.84px;
    gap: 8.47px;
    opacity: 0px;
  }
  .BPO-list-items {
    height: 15px;
    gap: 8.47px;
    opacity: 0px;
  }
  .checkbox-icon {
    width: 11.77px;
    height: 11.77px;
    gap: 0px;
    opacity: 0px;
  }
  .products-stocks-given {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
  }
  .rectangle-div-2 {
    width: 347px;
    height: 307px;
    border-radius: 11.3px;
    border: 0.71px;
    opacity: 0px;
  }
  .launch-your-own-container {
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    text-align: left;
  }
  .enterprise1 {
    width: 314px;
    height: 234.94px;
    padding: 16.95px;
    gap: 16.95px;
    border-radius: 14.12px;
    border: 0.71px;
    opacity: 0px;
  }
}

@media (max-width: 390px) {
  .BPO {
    width: 390px;
    height: 748.36px;
    gap: 30px;
  }
  .BPO-heading {
    width: 390px;
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
  }
  .BPO-contents {
    width: 390px;
    gap: 18.36px;
    flex-direction: column;
    height: 674.36px;
  }
  .rectangle-parent {
    width: 356px;
    height: 338px;
  }
  .rectangle-div {
    width: 357px;
    height: 307px;
    border-radius: 11.3px;
    border: 0.71px;
  }
  .rectangle-div-2 {
    width: 357px;
    height: 307px;
    border-radius: 11.3px;
    border: 0.71px;
  }
  .title,
  .launch-your-own-container {
    top: 17px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .enterprise {
    width: 339px;
    height: 281.69px;
    top: 56.23px;
    left: 10px;
    gap: 16.95px;
    border-radius: 14.12px;
    border: 0.71px;
  }
  .content {
    width: 305.1px;
    height: 190.84px;
    gap: 8.47px;
    justify-content: flex-start;
  }
  .products-stocks-given {
    font-size: 11px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
  }
  .BPO-list-items {
    height: 20px;
  }
  .enterprise1 {
    width: 339px;
    height: 281.69px;
    top: 55.87px;
    left: 10px;
    gap: 16.95px;
    border-radius: 14.12px;
    border: 0.71px;
  }
}
