.BPO-heading {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  font-family: Matter-Semibold;
}

.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 10px 2px rgba(255, 255, 255, 0.25) inset;
  border-radius: 1rem; /* 16px */
  background: linear-gradient(
    180deg,
    rgba(179, 205, 255, 0.3),
    rgba(219, 232, 255, 0)
  );
  border: 1px solid rgba(128, 172, 255, 0.3);
  border-bottom: 0;
  box-sizing: border-box;
  width: 100%; /* Full width */
  max-width: 41.6875rem; /* 669px */
  height: 23.75rem; /* 380px */
}

.BPO-list-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem; /* 12px */
}

.rectangle-div-2 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 10px 2px rgba(255, 255, 255, 0.25) inset;
  border-radius: 1rem; /* 16px */
  background: linear-gradient(
    180deg,
    rgba(73, 147, 244, 0.3),
    rgba(28, 107, 255, 0)
  );
  border: 1px solid rgba(73, 147, 244, 0.3);
  border-bottom: 0;
  box-sizing: border-box;
  width: 100%; /* Full width */
  max-width: 41.6875rem; /* 669px */
  height: 23.75rem; /* 380px */
}

.checkbox-icon {
  width: 1.25rem; /* 20px */
  position: relative;
  border-radius: 0.2rem; /* 3.2px */
  height: 1.25rem; /* 20px */
  overflow: hidden;
  flex-shrink: 0;
  background-color: #e5eeff;
}

.products-stocks-given {
  position: relative;
  line-height: 150%;
}

.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem; /* 12px */
}

.iconfunnel {
  width: 1rem; /* 16px */
  position: relative;
  height: 1rem; /* 16px */
  display: none;
}

.buttons {
  align-self: stretch;
  border-radius: 0.25rem; /* 4px */
  background-color: #fff;
  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  height: 2.5625rem; /* 41px */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.125rem; /* 8px 18px */
  gap: 0.5rem; /* 8px */
  font-size: 1rem; /* 16px */
  color: #000;
  cursor: pointer;
  outline: none;
}

.buttons:hover,
.buttons:focus {
  background-color: #fbfbfb;
  outline: none;
}

.enterprise {
  position: absolute;
  top: 5rem; /* 79px */
  left: 1.375rem; /* 22px */
  border-radius: 1.25rem; /* 20px */
  background-color: #fff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  width: 39.6875rem; /* 623px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem; /* 24px */
  gap: 1.5rem; /* 24px */
}

.for-a-district {
  color: #1c6bff;
}

.distributors-for-a-container {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  font-family: Matter-Medium;
}

.title {
  position: absolute;
  top: 1.5625rem; /* 25px */
  left: 2.875rem; /* 46px */
  width: 39.6875rem; /* 623px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem; /* 24px */
  color: #1a1a1a;
}

.rectangle-parent {
  width: 41.5625rem; /* 665px */
  position: relative;
  height: 27.1875rem; /* 435px */
}

.enterprise1 {
  position: absolute;
  top: 5rem; /* 79px */
  left: 1.375rem; /* 22px */
  border-radius: 1.25rem; /* 20px */
  background-color: #fff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  width: 38.6875rem; /* 619px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem; /* 24px */
  gap: 1.5rem; /* 24px */
}

.launch-your-own-container {
  position: absolute;
  top: 1.5625rem; /* 25px */
  left: 2.875rem; /* 46px */
  font-size: 1.5rem; /* 24px */
  line-height: 150%;
  font-weight: 500;
  mix-blend-mode: normal;
  color: #000;
  font-family: Matter-Medium;
}

.BPO-contents {
  width: 87.75rem; /* 1392px */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 0.875rem; /* 14px */
  color: #474747;
}

.BPO {
  width: 87.75rem; /* 1392px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 6.25rem; /* 100px */
  text-align: center;
  font-size: 3.25rem; /* 52px */
  color: #222;
}

@media (max-width: 850px) {
  .BPO {
    width: 47rem; /* 754px */
    height: 24.4375rem; /* 391px */
    gap: 3.125rem; /* 50px */
    /* Keep opacity as is */
  }
  .BPO-heading {
    font-size: 1.75rem; /* 28px */
    font-weight: 500;
    line-height: 2.1rem; /* 33.6px */
    letter-spacing: -0.01em;
    text-align: center;
  }
  .BPO-contents {
    width: 47rem; /* 754px */
    height: 19.1875rem; /* 307px */
  }
  .rectangle-parent {
    width: 21.6875rem; /* 347px */
    height: 19.1875rem; /* 307px */
  }
  .rectangle-div {
    width: 21.6875rem; /* 347px */
    height: 19.1875rem; /* 307px */
  }
  .title {
    width: 11.875rem; /* 190px */
    height: 1.4375rem; /* 23px */
    gap: 0.175rem; /* 2.82px */
    /* Keep opacity as is */
  }
  .distributors-for-a-container {
    font-size: 0.9375rem; /* 15px */
    font-weight: 500;
    line-height: 1.40625rem; /* 22.5px */
    text-align: left;
  }
  .enterprise {
    width: 19.6875rem; /* 316px */
    height: 14.6875rem; /* 234.94px */
    gap: 1rem; /* 16.95px */
    padding: 1rem; /* 16.95px */
    border: 0.044375rem; /* 0.71px */
    border-radius: 0.875rem; /* 14.12px */
  }
  .content {
    width: 17.625rem; /* 282.1px */
    height: 9.75rem; /* 155.84px */
    gap: 0.53rem; /* 8.47px */
    /* Keep opacity as is */
  }
  .BPO-list-items {
    height: 0.9375rem; /* 15px */
    gap: 0.53rem; /* 8.47px */
    /* Keep opacity as is */
  }
  .checkbox-icon {
    width: 0.73375rem; /* 11.77px */
    height: 0.73375rem; /* 11.77px */
    gap: 0; /* No gap */
    /* Keep opacity as is */
  }
  .products-stocks-given {
    font-size: 0.625rem; /* 10px */
    font-weight: 400;
    line-height: 0.625rem; /* 15px */
    text-align: left;
  }
  .rectangle-div-2 {
    width: 21.6875rem; /* 347px */
    height: 19.1875rem; /* 307px */
    border-radius: 0.703125rem; /* 11.3px */
    border: 0.044375rem; /* 0.71px */
    /* Keep opacity as is */
  }
  .launch-your-own-container {
    font-size: 0.9375rem; /* 15px */
    font-weight: 500;
    line-height: 1.40625rem; /* 22.5px */
    text-align: left;
  }
  .enterprise1 {
    width: 19.625rem; /* 314px */
    height: 14.6875rem; /* 234.94px */
    padding: 1rem; /* 16.95px */
    gap: 1rem; /* 16.95px */
    border-radius: 0.875rem; /* 14.12px */
    border: 0.044375rem; /* 0.71px */
    /* Keep opacity as is */
  }
}

@media (max-width: 450px) {
  .BPO {
    width: 24.375rem; /* 390px */
    height: 46.1875rem; /* 748.36px */
    gap: 1.875rem; /* 30px */
  }
  .BPO-heading {
    width: 24.375rem; /* 390px */
    height: 1.5rem; /* 24px */
    font-size: 1.25rem; /* 20px */
    font-weight: 500;
    line-height: 1.5rem; /* 24px */
    letter-spacing: -0.01em;
    text-align: center;
  }
  .BPO-contents {
    width: 24.375rem; /* 390px */
    gap: 1.145rem; /* 18.36px */
    flex-direction: column;
    height: 42.1875rem; /* 674.36px */
  }
  .rectangle-parent {
    width: 22.25rem; /* 356px */
    height: 21.125rem; /* 338px */
  }
  .rectangle-div {
    width: 22.3125rem; /* 357px */
    height: 19.1875rem; /* 307px */
    border-radius: 0.703125rem; /* 11.3px */
    border: 0.044375rem; /* 0.71px */
  }
  .rectangle-div-2 {
    width: 22.3125rem; /* 357px */
    height: 19.1875rem; /* 307px */
    border-radius: 0.703125rem; /* 11.3px */
    border: 0.044375rem; /* 0.71px */
  }
  .title,
  .launch-your-own-container {
    top: 1.0625rem; /* 17px */
    font-size: 1rem; /* 16px */
    font-weight: 500;
    line-height: 1.5rem; /* 24px */
    text-align: left;
  }
  .enterprise {
    width: 21.1875rem; /* 339px */
    height: 17.59375rem; /* 281.69px */
    top: 3.5rem; /* 56.23px */
    left: 0.625rem; /* 10px */
    gap: 1rem; /* 16.95px */
    border-radius: 0.875rem; /* 14.12px */
    border: 0.044375rem; /* 0.71px */
  }
  .content {
    width: 19.0625rem; /* 305.1px */
    height: 11.875rem; /* 190.84px */
    gap: 0.53rem; /* 8.47px */
    justify-content: flex-start;
  }
  .products-stocks-given {
    font-size: 0.6875rem; /* 11px */
    font-weight: 400;
    line-height: 1.21875rem; /* 19.5px */
    text-align: left;
  }
  .BPO-list-items {
    height: 1.25rem; /* 20px */
  }
  .enterprise1 {
    width: 21.1875rem; /* 339px */
    height: 17.59375rem; /* 281.69px */
    top: 3.5rem; /* 56.23px */
    left: 0.625rem; /* 10px */
    gap: 1rem; /* 16.95px */
    border-radius: 0.875rem; /* 14.12px */
    border: 0.044375rem; /* 0.71px */
  }
}
