html,
body {
  margin: 0;
  line-height: normal;
  max-width: 1512px;
  min-width: 390px;
  overflow-x: hidden;
}

.child {
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    180deg,
    #dbe4f2,
    rgba(219, 228, 242, 0.8) 43.92%,
    rgba(219, 228, 242, 0)
  );
  width: 100%;
  height: 629px;
  z-index: 0;
}

.div {
  width: 100%;
  min-height: 100vh;
  min-width: 390px;
  background-color: #fbfbfb;
  color: #888;
  font-size: 50px;
  font-family: Matter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 10;
}

footer {
  width: 100%;
  margin-top: auto;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.main-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.background-single-use {
  background: linear-gradient(
    180deg,
    #dbe4f2,
    rgba(219, 228, 242, 0.8) 43.92%,
    rgba(219, 228, 242, 0)
  );
}

@media (max-width: 850px) {
  .div {
    width: 850px;
  }
}

@media (max-width: 390px) {
  .div {
    width: 390px;
  }
  .main-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
